#parse("init.vm")
#set($visibility = "public")
#set($page = "opportunities/h2020/ftags/open_to_the_world.html")
#set($menu = "opportunities")
#set($breadcrumb = "Calls")
#set($title= $text.opportunities.fp7.meta.title)
#set ($calls = "true")
#parse("header.vm")

<div class="row">

	<div class="span3" id="sidebar">
		#parse("opp_menu.vm")
		#parse("quick_finder_menu.vm")
	</div>

	<div class="span9">

				<div>
					<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
					<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
				</div>


					<h3>Topics for open to the world <a href="#" data-url="$link-funding-guide-ftags-open_to_the_world" class="btn btn-grey btn-small pull-right wizard700x1000">H2020 online manual</a></h3>

					<p></p>

					<div class="well">
						<p>Open to the world in one of the three <a href="http://europa.eu/rapid/press-release_SPEECH-15-5243_en.htm" target="_blank">priority areas of the Commissioner for Research, Science and Innovation Moedas</a> and refers to the commitment to engage with the best scientists and engineers worldwide and to launch and expand a series of international Initiatives. </p>

						<p>In general, Horizon 2020 is fully open to participation of entities from across the globe, and many topics are flagged as being specifically relevant for international cooperation, identifying upfront the targeted area/initiative, partner country and/or region. </p>

						<p>Challenges in areas like energy, health, food and water are global challenges, and Europe should be leading the way in developing global research and innovation partnerships to address these challenges. Furthermore, to remain competitive and relevant Europe needs to engage more with partners in new and emerging markets and to use better its scientific strength in science diplomacy.  </p>

						<p>Openness to the World also requires providing the right framework conditions to ensure that partners have access to talent and resources wherever they are located; that they can tackle global societal challenges in partnership in the most effective way; and that companies can participate in global value chains and access new and emerging markets. As such, it helps strengthen the EU's position as a major global player. </p>

						<p>If you click here you will find a list of topics relevant to the priority area 'Open to the World'. The list should not be seen as exhaustive but only as a list of those topics that are particularly relevant to the 'Open to the World' priority area. </p>
					</div>


		<!-- the calls wrapper -->
   <div class="ec-cards-container">
    	<div class="ec-cards-filters" data-filters-for="topics" id="calls-filters">
			<div class="row-fluid">
				<div class="span12">
                	<ul class="filters-container" data-filters-for="topics">
						<div  style="display: none;">
							<li class="filter search" id="calls_search" data-field="[tags]" data-filter="search" data-submit-label="Search" data-placeholder="Find a topic" data-bookmark="true" ></li>
						</div>
                	</ul>
				</div>
			</div>
			<div class="scrollable"><ul class="ec-cards" data-source="../../../../../data/call/h2020/topics.json" data-loop="topicData.Topics" id="topics" data-template="tpl-topic-item" data-bookmark="true" data-hideInit="false"></ul></div>
			<div class="loading-loader"></div>

    </div>
	</div>
	</div>

</div>
#parse("search.vm")
#parse("footer.vm")