#parse("init.vm")
#set($visibility = "public")
#set($page = "opportunities/h2020/ftags/ssh.html")
#set($menu = "opportunities")
#set($breadcrumb = "Calls")
#set($title= $text.opportunities.fp7.meta.title)
#set ($calls = "true")
#parse("header.vm")

<div class="row">

	<div class="span3" id="sidebar">
		#parse("opp_menu.vm")
		#parse("quick_finder_menu.vm")
	</div>

	<div class="span9">

				<div>
					<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
					<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
				</div>


					<h3>Topics for social sciences and humanities<a href="#" data-url="$link-funding-guide-ftags-ssh" class="btn btn-grey btn-small pull-right wizard700x1000">H2020 online manual</a></h3>

					<p></p>

					<div class="well">
						<p>Integrating SSH research across Horizon 2020 is essential to maximise the returns to society from investment in science and technology.
						 Integrating the socio-economic dimension into the design, development and implementation of research itself and of new technologies can
						 help find solutions to societal problems. The idea to focus Horizon 2020 on 'challenges' rather than disciplinary fields of research
						 illustrates this new approach.</p>
					</div>


		<!-- the calls wrapper -->
   <div class="ec-cards-container">
    	<div class="ec-cards-filters" data-filters-for="topics" id="calls-filters">
			<div class="row-fluid">
				<div class="span12">
                	<ul class="filters-container" data-filters-for="topics">
						<div  style="display: none;">
							<li class="filter search" id="calls_search" data-field="[tags]" data-filter="search" data-submit-label="Search" data-placeholder="Find a topic" data-bookmark="true" ></li>
						</div>
                	</ul>
				</div>
			</div>
			<div class="scrollable"><ul class="ec-cards" data-source="../../../../../data/call/h2020/topics.json" data-loop="topicData.Topics" id="topics" data-template="tpl-topic-item" data-bookmark="true" data-hideInit="false"></ul></div>
			<div class="loading-loader"></div>

    </div>
	</div>
	</div>

</div>
#parse("search.vm")
#parse("footer.vm")