#parse("init.vm")
## -----------------------------------------------------
## - $visibility : page visibility : public | private | admin
## - $page : name of your html page
## - $menu : menu to highlight
## - $breadcrumb : last element in the breadcrumb
## - $title, $keywords, $description : html metadatas
## -----------------------------------------------------
#set($visibility = "public")
#set($page = "support/contactna.html")
#set($menu = "support")
#set($breadcrumb = $text.support.contactna.breadcrumb)
#set($title= $text.support.contactna.meta.title)
## -----------------------------------------------------
#parse("header.vm")
<div class="row">

	<div class="span1"></div>
	
	<div class="span11">
		
		<div class="row">
		
			<h4>$text.support.contactna.title</h4><hr>
			$text.support.contactna.text
			
		</div>

	</div>
	
</div>
#parse("footer.vm")