#parse("init.vm")
## -----------------------------------------------------
## - $visibility : page visibility : public | private | admin
## - $page : name of your html page
## - $menu : menu to highlight
## - $breadcrumb : last element in the breadcrumb
## - $title, $keywords, $description : html metadatas
## -----------------------------------------------------
#set($visibility = "public")
#set($page = "support/faq.html")
#set($menu = "support")
#set($breadcrumb = $text.support.faq.breadcrumb)
#set($title= $text.support.faq.meta.title)
## -----------------------------------------------------
#parse("header.vm")
<h4>$text.support.faq.head.title</h4>

$text.support.faq.head.text

<div class="accordion" id="accordion1">

	<h6>$text.support.faq.head.title1</h6>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t1">$text.support.faq.topic1.title</a></div>
		<div id="t1" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic1.text</div></div>
	</div>
	
	<h6>$text.support.faq.head.title2</h6>

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t2">$text.support.faq.topic2.title</a></div>
		<div id="t2" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic2.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t3">$text.support.faq.topic3.title</a></div>
		<div id="t3" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic3.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t4">$text.support.faq.topic4.title</a></div>
		<div id="t4" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic4.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t5">$text.support.faq.topic5.title</a></div>
		<div id="t5" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic5.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t6">$text.support.faq.topic6.title</a></div>
		<div id="t6" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic6.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t7">$text.support.faq.topic7.title</a></div>
		<div id="t7" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic7.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t8">$text.support.faq.topic8.title</a></div>
		<div id="t8" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic8.text</div></div>
	</div>
	
	<h6>$text.support.faq.head.title3</h6>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t9">$text.support.faq.topic9.title</a></div>
		<div id="t9" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic9.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t10">$text.support.faq.topic10.title</a></div>
		<div id="t10" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic10.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t11">$text.support.faq.topic11.title</a></div>
		<div id="t11" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic11.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t12">$text.support.faq.topic12.title</a></div>
		<div id="t12" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic12.text</div></div>
	</div>
	
	<h6>$text.support.faq.head.title4</h6>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t13">$text.support.faq.topic13.title</a></div>
		<div id="t13" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic13.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t14">$text.support.faq.topic14.title</a></div>
		<div id="t14" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic14.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t15">$text.support.faq.topic15.title</a></div>
		<div id="t15" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic15.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t16">$text.support.faq.topic16.title</a></div>
		<div id="t16" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic16.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t17">$text.support.faq.topic17.title</a></div>
		<div id="t17" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic17.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t18">$text.support.faq.topic18.title</a></div>
		<div id="t18" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic18.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t19">$text.support.faq.topic19.title</a></div>
		<div id="t19" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic19.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t20">$text.support.faq.topic20.title</a></div>
		<div id="t20" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic20.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t21">$text.support.faq.topic21.title</a></div>
		<div id="t21" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic21.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t22">$text.support.faq.topic22.title</a></div>
		<div id="t22" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic22.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t23">$text.support.faq.topic23.title</a></div>
		<div id="t23" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic23.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t24">$text.support.faq.topic24.title</a></div>
		<div id="t24" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic24.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t25">$text.support.faq.topic25.title</a></div>
		<div id="t25" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic25.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t26">$text.support.faq.topic26.title</a></div>
		<div id="t26" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic26.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t27">$text.support.faq.topic27.title</a></div>
		<div id="t27" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic27.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t28">$text.support.faq.topic28.title</a></div>
		<div id="t28" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic28.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t29">$text.support.faq.topic29.title</a></div>
		<div id="t29" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic29.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t30">$text.support.faq.topic30.title</a></div>
		<div id="t30" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic30.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t31">$text.support.faq.topic31.title</a></div>
		<div id="t31" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic31.text</div></div>
	</div>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t32">$text.support.faq.topic32.title</a></div>
		<div id="t32" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic32.text</div></div>
	</div>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t33">$text.support.faq.topic33.title</a></div>
		<div id="t33" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic33.text</div></div>
	</div>		

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t34">$text.support.faq.topic34.title</a></div>
		<div id="t34" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic34.text</div></div>
	</div>		

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t35">$text.support.faq.topic35.title</a></div>
		<div id="t35" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic35.text</div></div>
	</div>				

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t36">$text.support.faq.topic36.title</a></div>
		<div id="t36" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic36.text</div></div>
	</div>	
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t37">$text.support.faq.topic37.title</a></div>
		<div id="t37" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic37.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t38">$text.support.faq.topic38.title</a></div>
		<div id="t38" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic38.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t39">$text.support.faq.topic39.title</a></div>
		<div id="t39" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic39.text</div></div>
	</div>
	
	<h6>$text.support.faq.head.title5</h6>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t40">$text.support.faq.topic40.title</a></div>
		<div id="t40" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic40.text</div></div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t41">$text.support.faq.topic41.title</a></div>
		<div id="t41" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic41.text</div></div>
	</div>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t42">$text.support.faq.topic42.title</a></div>
		<div id="t42" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic42.text</div></div>
	</div>	

	<h6>$text.support.faq.head.title6</h6>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t43">$text.support.faq.topic43.title</a></div>
		<div id="t43" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic43.text</div></div>
	</div>	
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t44">$text.support.faq.topic44.title</a></div>
		<div id="t44" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic44.text</div></div>
	</div>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t45">$text.support.faq.topic45.title</a></div>
		<div id="t45" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic45.text</div></div>
	</div>	

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t46">$text.support.faq.topic46.title</a></div>
		<div id="t46" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic46.text</div></div>
	</div>		

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t47">$text.support.faq.topic47.title</a></div>
		<div id="t47" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic47.text</div></div>
	</div>		
	
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t48">$text.support.faq.topic48.title</a></div>
		<div id="t48" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic48.text</div></div>
	</div>		

	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#t49">$text.support.faq.topic49.title</a></div>
		<div id="t49" class="accordion-body collapse"><div class="accordion-inner">$text.support.faq.topic49.text</div></div>
	</div>		

</div>
#parse("footer.vm")