</div>
</div>
<!-- main - stop -->

<!-- footer - start -->
<div class="footer-links text-right">
				<a id="h2020_link" target="_blanc" href="$text.footer.h2020.link"  data-trigger="hover" data-placement="left" data-content="More about the EU research and innovation programme for 2014-2020">$text.footer.h2020.text</a>
				<a id="research_link" target="_blanc" href="$text.footer.research.link"  data-trigger="hover" data-placement="left" data-content="For more information on the European research activities and policy, see RESEARCH ON EUROPA">$text.footer.research.text</a>
				<a id="cordis_link" target="_blanc" href="$text.footer.cordis.link"  data-trigger="hover" data-placement="left" data-content="For project results and dissemination go to CORDIS">$text.footer.cordis.text</a>
				<a id="olaf_link" target="_blanc" href="$text.footer.olaf.link"  data-trigger="hover" data-placement="left" data-content="Report fraud involving the EU research funding or illegal activities by EU staff to OLAF">$text.footer.olaf.text</a>
</div>

<div class="footer" id="main-footer"><p class="align-center">$text.footer.copyright</p></div>
<!-- footer - end -->

</div>
<!-- container - stop -->

<!-- footer script - start -->
<script src="$root/js/bootstrap.min.js"></script>
<script src="$root/js/bootstrap-extension.js"></script>                 
<script src="$root/js/bootstrap-portal.js"></script>		
<!-- footer script - end -->
</body>
</html>
