/* Circular Content Carousel Style */
.ca-container{
	background:#fff url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/general/tile_white_1x120.jpg) repeat-x bottom;
	border:1px solid #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	margin: 10px 0 10px 4px;
	padding:0;
	width:936px;
	height:200px;
	margin-left:10px;
}

.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:156px;
	height:100%;
	text-align:center;
}
.ca-more{display:none;}

.ca-close{
	position:absolute;
	top:6px;
	right:10px;
	background:#fff url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-moz-border-radius: 5px;border-radius: 5px;
	opacity:0.7;
	border:none;
}
.ca-close:hover{
	opacity:1.0;
	border:none;
}
.ca-item-main{
	padding:0;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#fff;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	cursor: pointer;
	-moz-border-radius: 5px; border-radius: 5px;
}
.ca-icon{
	width:249px; 
	height:135px;
	position:relative;
	margin:0 auto;
	background:transparent url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/dummy.png) no-repeat center center;
}

.ca-item-main.whats-new {background:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/general/tile_yellow_1x50.jpg) bottom repeat-x;}

.ca-item-1 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-3.jpg);
}
.ca-item-2 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-4.jpg);
}
.ca-item-3 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-3.jpg);
}
.ca-item-4 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-1.jpg);
}
.ca-item-5 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-1.jpg);
}
.ca-item-6 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-2.jpg);
}
.ca-item-7 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-3.jpg);
}
.ca-item-8 .ca-icon{
	background-image:url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/pp_bg_h-page_icon-science-4.jpg);
}
.ca-item h3{
	border:none;
	line-height:16px;
	margin: 7px 0 0 0;
	padding:auto;
	text-transform:uppercase;
	text-shadow: 0px 1px 1px #ccc;
	font-size:16px;
}
.ca-item h4{
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	font-size:100px;
	font-size:10px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#5191cd url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/general/tile_blue-dark_1x120.jpg) repeat-x bottom;
	position:absolute;
	width:0px; 
	height:190px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.ca-content{
	width:730px;
	overflow:hidden;

}
.ca-content-text{
	color:#fff;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	color:#fff;
	margin:10px 0 0 10px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
	text-shadow: 0px 1px 1px #555;
	text-transform:uppercase;
	font-size:17px;
	font-family: 'fonts/ArmataRegular', Arial, sans-serif;
	font-weight:normal;
}

.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(http://www.test.ec.europa.eu/research/participants/portal/framework/skins/portal/images/home/carousel/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	left:10px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
	display:none;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
	right:10px; 
}
.ca-nav span:hover{
	opacity:1.0;
}

.ca-content-col_1, ca-content-col_2 {
	float:left;
	width:388px;
	color:#fff;
}
.ca-content-col_1 p {
	display: table;
	padding:3px 10px 3px 10px;
	margin:0;
}
.ca-content-col_2 p {
	display: table;
	padding:3px 10px 3px 10px;
	margin:0;
}

.ca-content-col_1 ul{font-size:11px;margin:5px 10px 3px 0px;list-style:square;padding-left:25px;}
.ca-content-col_1 ul li , .ca-content-col_2 ul li {margin-bottom:4px;}
.ca-content-col_2 ul {font-size:11px;margin:5px 10px 3px 375px;list-style:square}

.ca-content-column{
	border-left:1px solid #ccc;
	float:left;
	height:130px;
	margin:10px 0;
}