\#parse("init.vm")
\#set($visibility = "public")
\#set($page = "${call.path}")
\#set($menu = "opportunities")
\#set($breadcrumb = "opportunities")
\#set($title= "${call.identifier}")
\#set($call_timestamp = "${helper.getCurrentDatetime()}")
\#parse("header.vm")


<style type="text/css">
/* overrding bootstrap */
.well h3,
.well h5 {
	margin:0px;
	padding:5px 0;
}
.well table td {
	font-size:1.1em;
	line-height:1.3em;
}
.well table td h5{
	margin:3px 0;
	padding:5px 0;
}
.well table .label.label-success{
	font-weight:normal;
}

body .modal {
    /* new custom width */
    width: 1200px;
    margin-left: -600px;
}
</style>


			<div class="row">

				<!-- start sidebar -->
				<div class="span3" id="sidebar">

					\#parse("opp_menu.vm")

				</div>
				<!-- end sidebar -->

				<!-- start content -->
				<div class="span9">
					<div class="row">
						<div class="span9">
							<div>
							    <div>
									<div class="color-call-${call.divisionColour.toLowerCase()}-calldetails">
										<div class="well well-padding5" style="min-height: 50px">
											<a href="#budgetTable" data-toggle="modal" style="font-size: 1.1em; text-decoration: none; float: right">Call budget overview</a>
											<p> <strong>CALL: ${call.title.toUpperCase()}</strong><br/>
											            Call identifier: ${call.identifier.toUpperCase()}
														</br>

											            Publication date:  ${helper.formatCallDate($call.publicationDate)}

											            #if($!{call.ojRef})
															<td><strong>OJ reference</strong></td>
															<td><a href="$!{call.ojUrl}">$!{call.ojRef}</a></td>
														#else
															<td></td>
															<td></td>
														#end

											</p>
										</div>
									</div>
								</div>

						        <!-- Budget Overview Table  -->
								<div id="budgetTable" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

								  <div class="modal-body">
									<table  width="100%" cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-condensed ec-datatable" display:none; table-layout:fixed; overflow:hidden; word-wrap:break-word;>
									    <tr style="font-size:100%;">
											<th colspan="4">Topic</th>
											  <!-- Dynamic column for master call budget years-->
										     #foreach ($budgetYear in $call.budget.budgetYears )
											   <th>Budget (EUR) - Year : ${budgetYear} </th>
											 #end
											<th>Stages</th>
											<th>Opening date</th>
											<th>Deadline</th>
										</tr>

										    #foreach ($key in $call.budget.budgetTopicActionMap.keySet())
																#set ( $obj = $call.budget.budgetTopicActionMap.get($key).get(0))
													<tr>
														<td colspan="4">
														 #foreach ($budgetTopicAction in $call.budget.budgetTopicActionMap.get($key))

														   ${budgetTopicAction.action}</br>
														#end
														</td>

														  #foreach ($budgetYear in $call.budget.budgetYears )
														  	<td style="text-align: center;">
														      #foreach ($budgetAmountKey in $obj.budgetYearMap.keySet())

															   #if ($budgetYear ==  ${budgetAmountKey})
															     ${helper.formatBudget($obj.budgetYearMap.get($budgetAmountKey))}
															   #end
															 #end
															</td>
														   #end
														<td style="text-align: center;"> ${obj.deadlineModel}</td>
														<td style="text-align: center;">  ${helper.formatBudgetDate($obj.plannedOpeningDate)}</td>
														<td style="text-align: center;">
														  #foreach ($deadlineDate in $obj.deadlineDates)
														     ${helper.formatBudgetDate($deadlineDate)}</br>
														  #end
													</tr>

										#end
									</table>
								  </div>
								  <div class="modal-footer">
									<div class="span9 budgetdisclaimer">The indicative budget figures for <b>2017</b> are accessible in the <i><a href="http://ec.europa.eu/research/participants/portal/desktop/en/funding/reference_docs.html#h2020-work-programmes-2016-17" style="text-decoration: none;">Horizon 2020 work programme 2016-2017</a></i> documents.</div>
									<a class="btn btn-grey btn-small" data-dismiss="modal" aria-hidden="true">Close</a>
								  </div>
								</div>
								<!-- End Budget Overview Table  -->

								<div class="well well-padding5" style="font-size:1.1em; min-height: 40px; overflow:auto;">

											 <div class="span8">
													   #if ($call.frameworkProgrammeCode == "H2020")
														     <div class="h2020_globe_mini span1"> </div>&nbsp;
											          		 Horizon 2020
											          		 #if ($!call.wp_website)
																<a href="$call.wp_website" target="_blank" style="float: right;">H2020 website</a>
									        				 #end

												          	 <div style="padding-left:70px; margin-top: 3px"> Pillar: $call.specificProgrammeName</div>

												          	 #if ($!call.wp_year)
												          	  	<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
												          	 #end

												          	 #if ($!call.wp_title)
												          	 	<div style="padding-left:70px; margin-top: 2px">
												          	 		Work Programme Part: $call.wp_title
												          	 		#if ($!call.wp_document)
												          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
												          	 		#end
												          	 	</div>
												          	 #end
												       #end

												       #if ($call.frameworkProgrammeCode == "COSME")
												           <div class="cosme_mini span1"> </div>&nbsp;
												            COSME
												             #if ($!call.wp_website)
																<a href="$call.wp_website" target="_blank" style="float: right;">Cosme website</a>
									        				 #end

												            <div style="padding-left:70px; margin-top: 3px"> Pillar: $call.specificProgrammeName</div>

												          	 #if ($!call.wp_year)
												          	  	<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
												          	 #end

												          	 #if ($!call.wp_title)
												          	 	<div style="padding-left:70px; margin-top: 2px">
												          	 		Work Programme Part: $call.wp_title
												          	 		#if ($!call.wp_document)
												          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
												          	 		#end
												          	 	</div>
												          	 #end
												       #end

												       #if ($call.frameworkProgrammeCode == "3HP")
												           <div class="third_hp_mini span1"> </div>&nbsp;
												           3rd Health Programme
												            #if ($!call.wp_website)
																<a href="$call.wp_website" target="_blank" style="float: right;">3hp website</a>
									        				#end

												          	 #if ($!call.wp_year)
												          	  	<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
												          	 #end

												          	 #if ($!call.wp_title)
												          	 	<div style="padding-left:70px; margin-top: 2px">
												          	 		Work Programme Part: $call.wp_title
												          	 		#if ($!call.wp_document)
												          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
												          	 		#end
												          	 	</div>
												          	 #end
												       #end

												       #if ($call.frameworkProgrammeCode == "CP")
												           <div class="cp_mini span1"> </div>&nbsp;
												           Consumer Programme
												            #if ($!call.wp_website)
																<a href="$call.wp_website" target="_blank" style="float: right;">CP website</a>
									        				 #end

												            <div style="padding-left:70px; margin-top: 3px"> Pillar: $call.specificProgrammeName</div>

												          	 #if ($!call.wp_year)
												          	  	<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
												          	 #end

												          	 #if ($!call.wp_title)
												          	 	<div style="padding-left:70px; margin-top: 2px">
												          	 		Work Programme Part: $call.wp_title
												          	 		#if ($!call.wp_document)
												          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
												          	 		#end
												          	 	</div>
												          	 #end
												       #end

												       #if ($call.frameworkProgrammeCode == "RFCS")
												            <div class="rfcs_mini span1"> </div>&nbsp;
												           Research Fund for Coal and Steel
												            #if ($!call.wp_website)
																<a href="$call.wp_website" target="_blank" style="float: right;">RFCS website</a>
									        				#end

												          	 #if ($!call.wp_year)
												          	  	<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
												          	 #end

												          	 #if ($!call.wp_title)
												          	 	<div style="padding-left:70px; margin-top: 2px">
												          	 		Work Programme Part: $call.wp_title
												          	 		#if ($!call.wp_document)
												          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
												          	 		#end
												          	 	</div>
												          	 #end
												       #end

												       #if ($call.frameworkProgrammeCode == "JUST")
												            <div class="justice_mini span1"> </div>&nbsp;
												            Justice Programme
												             #if ($!call.wp_website)
																<a href="$call.wp_website" target="_blank" style="float: right;">Justice website</a>
									        				 #end

												            <div style="padding-left:70px; margin-top: 3px"> Pillar: $call.specificProgrammeName</div>

												          	 #if ($!call.wp_year)
												          	  	<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
												          	 #end

												          	 #if ($!call.wp_title)
												          	 	<div style="padding-left:70px; margin-top: 2px">
												          	 		Work Programme Part: $call.wp_title
												          	 		#if ($!call.wp_document)
												          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
												          	 		#end
												          	 	</div>
												          	 #end
												       #end
											 </div>

								</div>

								<div class="span9" class="tabbable" style="margin: 0px;"> <!-- Only required for left/right tabs -->

									<div class="tab-content">

											#if($call.additionalInfo || $call.staticAdditionalInfo)
												<div class="well-blue">
													<div class="more-less">
														<div class="more-block">
															<h5>Call summary</h5>
															$!{call.staticAdditionalInfo}
															$!{call.additionalInfo}
														</div>
													</div>
												</div>
											#end

											#if($call.latestInfos && $call.latestInfos.size() != 0)
												<div class="well-blue">
													<div class="more-less">
														<div class="more-block">
															<h5>Call updates</h5>
															#foreach ($latestInfo in $call.latestInfos)
																	<ul>
																		<div>
																				<li>
																					<strong> ${helper.formatCallTopicUpdates($latestInfo.approvalDate)}</strong>
																					${latestInfo.content}
																				</li>
																		</div>
																	</ul>
															#end
														</div>
													</div>
												</div>
											#end

											<h5>Topics and submission service</h5>
											<p>
												To access the <b>Submission Service</b>, please <b><span style="color:red">select the TOPIC</span></b> of your interest and then open the Submission Service tab.<br>
												To access <b>existing draft proposals</b>, please login to the portal and select My Proposals from the My Area menu.
											</p>

                            <!-- start filters (cf: filters.view.js) -->
							<div role="main" id="main-wrapper">
			                        <div  class="ec-cards-filters" data-filters-for="topics" id="topics-filters" data-bookmark="true">
										<div class="row-fluid">
											<div class="well well-padding5 span13" style="margin-left: 8px;">

											        <div class="filters-container" data-filters-for="topics" data-bookmark="true" style="height:0px">
														<div class="filter toggle" data-value="on" data-filter="toggle" data-type="string" data-compare="${call.Identifier}" data-field="callIdentifier" data-bookmark="true" data-remove="true"></div>
													</div>

													<div class="span13">
													    <div class="span2" style="padding-top: 4px;">
														        <strong>Status</strong>
													    </div>
														<ul class="filters-container"  data-filters-for="calls">
														    <li class="filter toggle span3" data-value="on" data-filter="toggle" data-type="string" data-compare="Forthcoming" data-field="callStatus" data-bookmark="true"  style="margin-left: 12px;">
																<div class="toggle-label">Forthcoming</div><input type="checkbox" class="css-radiobox" checked>
															</li>
															<li class="filter toggle span3" data-value="on" data-filter="toggle" data-type="string" data-compare="Open" data-field="callStatus" data-bookmark="true">
																<div class="toggle-label">Open</div><input type="checkbox" class="css-radiobox" checked>
															</li>
															<li class="filter toggle span3" data-value="on" data-filter="toggle" data-type="string" data-compare="Closed" data-field="callStatus" data-bookmark="true">
																<div class="toggle-label">Closed</div><input type="checkbox" class="css-radiobox" checked>
															</li>
														 </ul>
													</div>
											</div>
											<div class="well well-padding5 span13" style="margin-left: 8px;">
												<div class="span13">
													<div class="filters-container group sort"  data-filters-for="topics" data-bookmark="true" style="display:inline">
													        <div class="span2" style="padding-top: 4px;">
																<strong>Sort by</strong>
															</div>
															<div class="sort   span3" data-value="on" data-filter="radio" data-type="date" data-sort="desc" data-field="plannedOpeningDate" data-bookmark="true">
																<input type="radio" id="o3" class="css-radiobox" name="order" ><label for="o3" class="radio-label">(Planned) opening date</label>
															</div>
															<div class="sort span2 " data-value="on" data-filter="radio" data-type="date" data-sort="desc" data-field="deadlineDates[0]" data-bookmark="true">
																<input type="radio" id="o4" class="css-radiobox" name="order"><label for="o4" class="radio-label">Deadline</label>
															</div>
															<div class="sort   span2" data-value="on" data-filter="radio" data-type="string" data-sort="desc" data-field="title" data-bookmark="true">
																<input type="radio" id="o1" class="css-radiobox" name="order"><label for="o1" class="radio-label">Topic title</label>
															</div>
															<div class="sort span2  " data-value="on" data-filter="radio" data-type="string" data-sort="desc" data-field="identifier" data-bookmark="true">
																<input type="radio" id="o2" class="css-radiobox" name="order" checked><label for="o2" class="radio-label">Topic identifier</label>
															</div>
													</div>
												</div>
											</div>

										</div>
							      </div>
					      </div>


						<div class="scrollable" style="margin-left: -18px;"><ul class="ec-cards" data-source="../../../../../data/call/${call.frameworkProgrammeCode.toLowerCase()}/${call.frameworkProgrammeCode.toLowerCase()}_topics.json" data-loop="topicData.Topics" id="topics" data-template="tpl-topic-item" data-bookmark="true" data-noresult="no_results_found" data-counterElement="results-counter"></ul></div>
						<div class="loading-loader"></div>


			           <!-- end filters (cf: filters.view.js) -->





									</div>
								</div>

							</div>
							<!-- end overlay -->
						</div>
						<!-- end span9 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end content -->
			</div>
			<!-- end row -->



<script>$(function(){$("#research_link1").popover({trigger: "hover"});$("#cordis_link1").popover({trigger: "hover"});$("#olaf_link1").popover({trigger: "hover"});});</script>
\#parse("footer.vm")



<script type="text/template" id="tpl-topic-item">
					<div class="well-white">
						<table style="width:100%;">
							<tr>
								<td>
									<table style="width:100%;">
										<tr>
											<td style="width:5%"><strong>Topic:&nbsp;&nbsp;</strong></td>
											<td><strong><a href="../../<%= callProgramme.toLowerCase() %>/topics/<%= topicFileName %>.html"><%= identifier %>:<%= title %></a></strong></td>

											<% if (callStatus == "Open") { %>
												<td style="width:10%;"><span class="label label-success">Open</span></td>
											<% } %>
											 <% if (callStatus == "Closed") { %>
												<td style="width:10%;"><span class="label label-important">Closed</span></td>
											<% } %>
											<% if (callStatus == "Forthcoming") { %>
												<td style="width:10%;"><span class="label label-warning">Forthcoming</span></td>
											<% } %>
										</tr>
									</table>
									<table style="width:100%;">
										<tr>
											<td style="width:20%"><strong>Publication date:&nbsp;&nbsp;</strong></td>
											<td style="width:80%;"><%= publicationDate %></td>
										</tr>
									</table>

									<table style="width:100%;">
									    </br> <tr> <td colspan="4"><hr/></td> </tr>
										<%
											if(typeof(actions)!='undefined' && actions.length) {
										 %>
											 <%	_.each(actions, function(action) { %>
												 <tr>
													<td style="width:17%"><strong>Types of action:</strong></td>
													<td colspan="3">
														<% var aCount = 0%>
														<%	_.each(action.types, function(atype) {	%>
																<!--Start To put comma -->
																	<% aCount++;
																	   if(aCount < action.types.length) {
																	 %><%=atype%>,
																	<% } else {%>
																		<%=atype%>
																	<% } %>
																<!--End To put comma -->

														<%	 }); %>
													</td>
												 </tr>
												 <tr>
												    <td style="width:17%" valign="top">
													    <strong>DeadlineModel: </strong> </br>
													    <strong>Opening date:</strong>
												    </td>
												    <td style="width:30%" valign="top">
												        <%=action.deadlineModel %> </br>
												       <%=action.plannedOpeningDate %></br>
												    </td>

													 <%	if(action.deadlineModel == "single-stage") { %>
													    	<td style="width:15%"> <strong> Deadline:  </strong> </td>
													    	<td style="width:20%"> <%= action.deadlineDates[0] + " "%>  17:00:00 </td>
													 <% } %>

												    <%	if(action.deadlineModel == "two-stage") { %>
												        <td style="width:20%"> <strong> Deadline:  </strong> </br> <strong>2nd stage Deadline:</strong> </td>
														<td style="width:25%">
														   <%= action.deadlineDates[0] + " "%>  17:00:00  <br/>
														   <%= action.deadlineDates[1] + " "%> 17:00:00
														</td>
												    <% } %>

													<%	if(action.deadlineModel != "two-stage" && action.deadlineModel != "single-stage") { %>
														<td style="width:15%" valign="top"> <strong>Cut-off dates: </strong> </td>
														<td style="width:20%" valign="top">
															<%	_.each(action.deadlineDates, function(deadlineDate) {	%>
																<%= deadlineDate + " "%>  17:00:00
																</br>
															<%	 }); %>
														</td>
													<% } %>
												 </tr>

												 <tr><td colspan="4"><hr/></td></tr>

											 <%	 }); %>

											 <tr>
												<td colspan="4" style="text-align:right"> Time Zone :  (Brussels time) </td>
											 </tr>
                       					<%	} %>
									</table>
								</td>
							</tr>
						</table>
					</div>
</script>
