\#parse("init.vm")
\#set($page = "${call.path}")
\#set($visibility = "public")
\#set($menu = "opportunities")
\#set($breadcrumb = "FP7 Opportunities")
\#set($keywords = $text.opportunities.fp7.meta.keywords)
\#set($description = $text.opportunities.fp7.meta.title)
\#set($langroot = "..")
\#set($calls = "true")
\#set($title = "${call.identifier}")
\#set($call_timestamp = "${helper.getCurrentDatetime()}")
\#parse("header.vm")

<div class="container">
<div class="row">
<div class="span3" id="sidebar">

    \#parse("opp_menu.vm")

    <div class="dropdown open cards-menu" id="menu" >
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><b>FP7 Calls</b></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Capacities <span class="badge badge-success">2</span></a></li>
            <li><a tabindex="-1" href="#">Co-operation  <span class="badge badge-success">1</span></a></li>
            <li><a tabindex="-1" href="#">Ideas  <span class="badge badge-success">4</span></a></li>
            <li><a tabindex="-1" href="#">People</a></li>
        </ul>
    </div>

</div>
<div class="span9">

<div role="main"  id="main-wrapper">
<section class="content">
<div id="details-page" data-id="${call.identifier}">
<article>
<div id="filter">
<div id="filterbox" class="clearfix">
<div class="arrow"></div>
<div class="col">
<h3>Type</h3>
<div id="filter-type" class="selectgroup multiple clearfix">
<p>
<label for="btn_tender" class="formlab">Tender</label><p class="field switch"><label class="cb-enable"><span>On</span></label><label class="cb-disable selected"><span>Off</span></label><input type="checkbox" id="btn_tender" class="icheckbox selected" value="true" data-filter="CALL_FOR_TENDERS"></p>
</p>
<p>
<label for="btn_proposal" class="formlab">Proposal</label><p class="field switch"><label class="cb-enable selected"><span>On</span></label><label class="cb-disable"><span>Off</span></label><input type="checkbox" id="btn_proposal" class="icheckbox selected" value="true" data-filter="CALL_FOR_PROPOSALS" checked="checked"></p>
</p>
</div>
</div>
<div class="col">
<h3>Status</h3>
<div id="filter-status" class="selectgroup multiple clearfix">
<p>
<label for="btn_open" class="formlab">Open</label><p class="field switch"><label class="cb-enable selected"><span>On</span></label><label class="cb-disable"><span>Off</span></label><input type="checkbox" id="btn_open" class="icheckbox selected" value="true" data-filter="OPEN" checked="checked"></p>
</p>
<p>
<label for="btn_close" class="formlab">Close</label><p class="field switch"><label class="cb-enable"><span>On</span></label><label class="cb-disable selected"><span>Off</span></label><input type="checkbox" id="btn_close" class="icheckbox selected" value="true" data-filter="CLOSED"></p>
</p>
<p>
<label for="btn_forthcoming" class="formlab">Forthcoming</label><p class="field switch"><label class="cb-enable selected"><span>On</span></label><label class="cb-disable"><span>Off</span></label><input type="checkbox" id="btn_forthcoming" class="icheckbox selected" value="true" data-filter="FORTHCOMING" checked="checked"></p>
</p>
</div>
</div>
<div class="col">
<h3>Sort by</h3>
<div id="filter-sort" class="selectgroup clearfix">
<div class="button sorting half" data-filter="Title">Title</div>
<div class="button sorting half last" data-filter="CallId">Call Identifier</div>
<div class="button sorting half" data-filter="PublicationDate">Publication Date</div>
<div class="button sorting half last" data-filter="DeadlineDate">Deadline</div>
<div class="button sorting" data-filter="ApprovalDate">Latest Information</div>
<div class="button sorting selected" data-filter="RecentlyUpdated">Recently Updated (default)</div>
</div>
</div>
</div>
</div>
<div id="more-details-tabs">
<div class="colorbar colorbar-${call.mainSpecificProgramme.name.toLowerCase()}"></div>
<div id="movable-article" class="clearfix">
<div id="btn-close-call"></div>
<span class="programme ${call.mainSpecificProgramme.name.toUpperCase()}">${call.mainSpecificProgramme.name.toLowerCase()}</span>
<div class="summary clearfix">
<h1 class="after-dsp" data-key="Title">${call.title}</h1>
<div class="labelized clearfix">
    <div class="label">Call Identifier:</div>
    <span>${call.identifier}</span>
</div>
<div class="labelized clearfix">
<div class="label">Publication Date:</div>
<span data-key="PublicationDate" data-date="true">${helper.formatCallDate($call.publicationDate)}</span>
</div>
    #if ($call.ojRef)
<div class="labelized clearfix">
<div class="label">OJ Reference:</div>
<span data-key="PojReference.Title"><a href="${call.ojUrl}">${call.ojRef}</a></span>
</div>
    #end
<div class="labelized clearfix">
<div class="label">Budget:</div>&euro; <span data-key="TotalIndicativeBudget">${helper.formatBudget($call.totalIndicativeBudget)}</span>
</div>
<div class="labelized clearfix">
<div class="label">Deadline Date:</div>
<span data-key="DeadlineDate" data-date="true">${helper.formatCallDate($call.deadline)}</span><span> at 17:00:00 (Brussels local time)</span>
#if($call.secondaryDeadline)
<div class="label">Stage 2:</div>
<span data-key="Stage2" data-date="true">${helper.formatCallDate($call.secondaryDeadline)}</span><span> at 17:00:00 (Brussels local time)</span>
#end					
#if($call.intermediaryDeadlines && $call.intermediaryDeadlines.size() != 0)
<div class="label">Intermediate deadlines(s):</div>
#foreach($intermediaryDeadline in $call.intermediaryDeadlines)
<span data-key="intermediaryDeadline" data-date="true">${helper.formatCallDate($intermediaryDeadline)}</span><span> at 17:00:00 (Brussels local time)</span><br/>
#end
#end
#if($call.cutOffDates && $call.cutOffDates.size() != 0)
<div class="label">Cut-off date(s):</div>
#foreach($cutOffDate in $call.cutOffDates)
<span data-key="cutOffDate" data-date="true">${helper.formatCallDate($cutOffDate)}</span><span> at 17:00:00 (Brussels local time)</span><br/>
#end
#end
</div>
<div class="labelized clearfix">
    <div class="label">Specific Programme(s):</div>
    <span>${call.mainSpecificProgramme.name}</span>
</div>
<div class="labelized clearfix">
<div class="label">Theme(s):</div>
    #foreach($theme in $call.themes)
<div class="txt" data-key="Theme">${theme.description}
    </div>
    #end
</div>
</div>
</div>
<div class="index">
<ul>
<li>
<a href="#additionalinfo" class="twolines">Additional information</a>
</li>
<li>
<a href="#latestinfo" class="twolines">Latest information</a>
</li>
<li>
<a href="#informationpackagedossier" class="twolines">Information Package</a>
</li>
<li>
<a href="#additionaldossier" class="twolines">Additional Documents</a>
</li>
<li>
<a href="#epssdetails" class="twolines">Electronic Proposal Submission</a>
</li>
<li>
<a href="#support">Get Support</a>
</li>
</ul>
</div>
<ul class="tabs">
<li>
<a class="top" href="\#">top</a><a name="additionalinfo"></a>
<div class="call-section-title"><h2><b>1. Additional information</b></h2></div>
<div data-key="CallDetails.AdditionalInfo">
<div class="datacontent" id="staticAdditionalinfo">$!{call.staticAdditionalinfo}</div>
<div class="datacontent" id="additionalinfo">$!{call.additionalInfo}</div>
</div>
</li>
<li>
<a class="top" href="\#">top</a><a name="latestinfo"></a>
<div class="call-section-title"><h2><b>2. Latest Information</b></h2></div>
<div data-key="CallDetails.LatestInfo" id="latestinfo">
<div class="datacontent">
<ul>
    #foreach ($latestInfo in $call.latestInfos)
<li>
<h3>
<span data-date="true">$!{helper.formatCallDatetime($helper.nvl($latestInfo.approvalDate, $call.publicationDate))}</span>
</h3>
<p></p><p>${latestInfo.content}</p><p></p>
</li>
    #end
</ul>
</div>
</div>
</li>
<li>
<a class="top" href="#">top</a><a name="informationpackagedossier"></a>
<div class="call-section-title"><h2><b>3. Information Package</b> <img src="$portal/img/pp_bg_info_button.png" border="0" title="Key documents required for the preparation of your proposal"/></h2></div>
<div class="datacontent">
<a href="${helper.getZipPath($call)}" target="_blank" class="alldocslink"><span class="ico"></span>Download all documents <br>
<span class="small">(EN only, incl. the additional docs.)</span></a>
<div data-key="InformationPackageDossier">
<div class="datacontent">
<ul class="downloadable">
    #foreach ($dossier in $call.infoPackDossiers)
<li class="even">${dossier.title}
        #foreach($file in $dossier.translationFiles)
    <a class="lang ${file.language}" href="${helper.getDocPath($call, $file)}" target="_blank" style="display: inline;">${file.language}</a>
        #end
</li>
    #end
</ul>
</div>
</div>
</div>
</li>
<li>
<a class="top" href="#">top</a><a name="additionaldossier"></a>
<div class="call-section-title"><h2><b>4. Additional Documents <img src="$portal/img/pp_bg_info_button.png" border="0" title="Useful documents on the call and on the framework programme in general"/></b></h2></div>
<div id="additionaldocuments_info" style="display: none; ">
    <p><img valign="bottom" width="14px" height="14px" src="$portal/img/pp_bg_warning.png"/> Key documents required for the preparation of your proposal</p>
</div>
<div data-key="AdditionalDossier">
<div class="datacontent">
<ul class="downloadable">
    #foreach ($dossier in $call.additionalDossiers)
    <li class="even">${dossier.title}
        #foreach($file in $dossier.translationFiles)
        <a class="lang ${file.language}" href="${helper.getDocPath($call, $file)}" target="_blank" style="display: inline;">${file.language}</a>
        #end
    </li>
    #end
</ul>
</div>
</div>
</li>
<li>
<a class="top" href="#">top</a><a name="epssdetails"></a>
<div class="call-section-title"><h2><b>5. Electronic Proposal Submission</b></h2></div>
<div data-key="CallDetails.SubmissionSystemLink">
<div class="datacontent">
#if($call.submissionSystemLinks.empty || $call.status == "Closed")
    <p>No submission system is open for this call.</p>
#else
    <p>To access the Electronic Submission Service of the call, please select the funding scheme or objective corresponding to the work programme topic that is most relevant to your proposal from the list below. You will then be linked to the correct entry point.</p>
    <p style="color:red">To access existing draft proposals for this call, please login to the Participant Portal and select the "My Proposals" tab.</p>
    <p>Download the <a href="$portal/data/doc/manual/sep.pdf" target="_blank">user guide</a> of the Participant Portal Submission Service.</p>
    <p>Available subfunding schemes:</p>

    <table style="width:100%"><tr><td style="padding-top:7px">
<select id="selectSubmissionLink" style="max-width:100%;width:100%">
    #foreach ($link in $call.submissionSystemLinks)
        <option value="$!{link.url}">$!{link.criterionDescription} [$!{link.criterionCode}]</option>
    #end
</select>
    </td><td>
<a role="button" class="btn btn-small btn-primary " onclick="e = document.getElementById('selectSubmissionLink'); window.open(e.options[e.selectedIndex].value, 'mywindow', 'width=1000,height=800,scrollbars=1,resizable=yes' );">Go</a>
    </td></tr></table>
    #end
</div>
</div>
</li>
<li>
<a class="top" href="#">top</a><a name="support"></a>
<div class="call-section-title"><h2><b>6. Get Support</b></h2></div>
<div class="datacontent">
    $!{call.supportInfo}
</div>
</li>
</ul>
</div>
</article>
</div>
</section>
</div>





				</div>
			</div>
		</div>

<script id="tpl-menu-item" type="text/template">
    <% _.each(indexed.frameworks, function(framework){%>
    <% if(menuStruct[framework]) { %>
    <% var frameworkPath = "../calls.html#filter/"+framework%>
    <li>
        <a href="<%= frameworkPath %>" class="<% if(menuStruct[framework].selected === true){ %> selected<% } %>">
            <span class="label"><%= framework %> Calls</span>
        </a>
        <ul class="programmes">
            <% _.each(indexed.programmes, function(programme){%>
            <% if(menuStruct[framework].children[programme] !== undefined){ %>
            <% var programmePath = frameworkPath + "/"+programme%>
            <li>
                <a href="<%= programmePath %>" class="<%= programme.toLowerCase() %><% if(menuStruct[framework].selected === true && menuStruct[framework].children[programme].selected === true){ %> selected<% } %>">
                    <span class="ico"></span>
                                                                                    <span class="label">
                                                                                        <% if(globalCipFullname[programme.toUpperCase()]) { %>
                                                                                            <%= globalCipFullname[programme.toUpperCase()] %>
                                                                                        <% } else { %>
                                                                                            <%= programme.toLowerCase() %>
                                                                                        <% } %>
                                                                                    </span>
                    <sup class="qty"><%= menuStruct[framework].children[programme].number %></sup>
                </a>
                <% if(menuStruct[framework].selected === true && menuStruct[framework].children[programme].selected === true){ %>
                <ul class="themes">
                    <% _.each(indexed.themes, function(theme){%>
                    <% if(menuStruct[framework].children[programme].children[theme] !== undefined){ %>
                    <% var themePath = programmePath + "/"+theme%>
                    <li>
                        <a href="<%= themePath %>" class="<% if(menuStruct[framework].children[programme].children[theme].selected === true){ %> selected<% } %>">
                            <span class="label"><%= menuStruct[framework].children[programme].children[theme].label %></span>
                        </a>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% } %>
            <% }) %>
        </ul>
    </li>
    <% } %>
    <%}) %>
</script><script id="tpl-call-item" type="text/template"></script>

\#parse( "footer.vm")
