<div class="alert alert-info">
	<h4>Warning !</h4>
	<p>This list of calls was generated on <strong> ${currentDate}</strong>. <br>Regular content updates cannot be guaranteed as it is a new pilot version of the Participant Portal. <br>
	Please consult the following <a href="http://ec.europa.eu/research/participants/portal/page/funding#" target="_blank"><strong>link</strong></a> for viewing the latest calls.</p>
		
</div>