\#parse("init.vm")
\#set($visibility = "public")
\#set($page = "opportunities/$masterCalls[0].frameworkProgrammeCode.toLowerCase()/index.html")
\#set($menu = "opportunities")
\#set($breadcrumb = "Calls")
\#set($title= $text.opportunities.fp7.meta.title)
\#set($calls = "true")
\#parse("header.vm")

<div class="row">

	<div class="span3" id="sidebar">
		\#parse("opp_menu.vm")
	</div>

	<div class="span9">
		<div role="main" id="main-wrapper">
			<section class="content">

				<div id="listing-calls">

					<header class="clearfix">
						<h1>$masterCalls[0].frameworkProgrammeCode Calls</h1>
					</header>

					<ol class="olnumbering">

#foreach($masterCall in $masterCalls)
#if ($masterCall.subCalls.size()==1 && $masterCall.subCalls[0].identifier==$masterCall.identifier)



									<li><a href="calls/${masterCall.callPage}">${masterCall.identifier}</a></li>




#else


#foreach($subCall in $masterCall.subCalls)

									<li><a href="calls/${subCall.callPage}">${subCall.identifier}</a></li>

#end


#end
#end

					</ol>

				</div>
				<!-- end listing-page -->

			</section>

		</div>
		<!-- end main-wrapper -->
	</div>
	<!-- end span9 -->
</div>
<!-- end row -->


\#parse("footer.vm")



