\#parse("init.vm")
\#set($visibility = "public")
\#set($page = "${topic.path}")
\#set($menu = "opportunities")
\#set($breadcrumb = "opportunities")
\#set($title= "${topic.identifier}")
\#set($topic_keywords = "${keywords}")
\#parse("header.vm")

<style type="text/css">
.well h3,
.well h5 {
	margin:0px;
	padding:5px 0;
}
.well table td {
	font-size:1.1em;
	line-height:1.3em;
}
.well table td h5{
	margin:3px 0;
	padding:5px 0;
}
.well table .label.label-success{
	font-weight:normal;
}

body .modal {
    /* new custom width */
    width: 1200px;
    margin-left: -600px;
}
</style>



			<div class="row">

				<!-- start sidebar -->
				<div class="span3" id="sidebar">

					\#parse("opp_menu.vm")

				</div>
				<!-- end sidebar -->

				<div class="span9">
					<div class="row">
							<div class="span9">
								<div class="color-call-${call.divisionColour.toLowerCase()}-calldetails">
								<div class="well">
								    <a href="#budgetTable" data-toggle="modal" style="font-size: 1.1em; text-decoration: none; float: right; margin : -10px">Call budget overview</a></br>
									<h3>TOPIC : ${topic.title} </h3>


									<table width="100%">
										<tr>
										    <td width="20%"><strong>Topic identifier:</strong></td>
 											<td width="80%">${topic.identifier}</td>
										</tr>
										<tr>
										    <td width="20%" valign="top"><strong>Publication date:</strong></td>
											<td width="80%" valign="top">${helper.formatCallDate($call.publicationDate)}</td>
										</tr>
										<tr><td colspan="4"><hr style="margin: 3px 0px;"></td></tr>
									</table>
									<table width="100%">
									   #foreach($topicAction in $topic.actions)

									    <tr>
											<td style="width: 17%" valign="top"><strong>Types of action:</strong></td>
											<td colspan="3">
											    #set( $aCount = 0 )
											    #foreach($aType in $topicAction.types)
													${aType}
													#set( $aCount = $aCount+1 )
													#if($aCount < $topicAction.types.size())
												       ,
										            #end
												#end
											</td>
										</tr>

										<tr>
											<td style="width:17%" valign="top">
										    		<strong>DeadlineModel: </strong> </br>
										    		 #if($topic.topicStatus=="Open" || $topic.topicStatus=="Closed" || $topic.topicStatus=="Draft")
													<strong>Opening date:</strong>
													#end
		                                        	#if($topic.topicStatus=="Forthcoming")
		                                            <strong>Planned opening date:</strong>
		                                        	#end
									   		</td>

									   		<td style="width:30%" valign="top">
												 ${topicAction.deadlineModel} </br>
												${topicAction.plannedOpeningDate}
											</td>

											 #if( $topicAction.deadlineModel eq "single-stage" )
												 <td style="width:15%"> <strong> Deadline:  </strong> </td>
												 <td style="width:20%"> ${topicAction.deadlineDates.get(0)}  17:00:00</td>
										     #end

										     #if( $topicAction.deadlineModel eq "two-stage" )
												  <td style="width:20%"> <strong> Deadline:  </strong> </br> <strong>2nd stage Deadline:</strong> </td>
												  <td style="width:25%">
													  ${topicAction.deadlineDates.get(0)}  17:00:00<br/>
													  ${topicAction.deadlineDates.get(1)}  17:00:00
												  </td>
										     #end

										     #if( $topicAction.deadlineModel != "single-stage"  &&  $topicAction.deadlineModel != "two-stage" )
												 <td style="width:15%" valign="top"> <strong>Cut-off dates: </strong> </td>
												 <td style="width:20%" valign="top">
													#foreach($deadline in $topicAction.deadlineDates)
														$deadline 17:00:00
														<br/>
													#end
												 </td>
										     #end
										</tr>

										<tr><td colspan="4"><hr style="margin: 3px 0px;"></td></tr>

										#end

										<tr>
											<td style="text-align:right" colspan="4"> Time Zone :  (Brussels time) </td>
										</tr>

									</table>


				</div>
								<!-- end well -->
				</div>
				<!-- end of color-call -->
							</div>
							<!-- end span9 -->

							 <!-- Budget Overview Table  -->
								<div id="budgetTable" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

								  <div class="modal-body">
									<table  width="100%" cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-condensed ec-datatable" display:none; table-layout:fixed; overflow:hidden; word-wrap:break-word;>
									    <tr style="font-size:100%;">
											<th colspan="4">Topic</th>
											  <!-- Dynamic column for master call budget years-->
										     #foreach ($budgetYear in $call.budget.budgetYears )
											   <th>Budget (EUR) - Year : ${budgetYear} </th>
											 #end
											<th>Stages</th>
											<th>Opening date</th>
											<th>Deadline</th>
										</tr>

										    #foreach ($key in $call.budget.budgetTopicActionMap.keySet())
																#set ( $obj = $call.budget.budgetTopicActionMap.get($key).get(0))
													<tr>
														<td colspan="4">
														 #foreach ($budgetTopicAction in $call.budget.budgetTopicActionMap.get($key))

														   ${budgetTopicAction.action}</br>
														#end
														</td>

														  #foreach ($budgetYear in $call.budget.budgetYears )
														  	<td style="text-align: center;">
														      #foreach ($budgetAmountKey in $obj.budgetYearMap.keySet())

															   #if ($budgetYear ==  ${budgetAmountKey})
															     ${helper.formatBudget($obj.budgetYearMap.get($budgetAmountKey))}
															   #end
															 #end
															</td>
														   #end
														<td style="text-align: center;"> ${obj.deadlineModel}</td>
														<td style="text-align: center;">  ${helper.formatBudgetDate($obj.plannedOpeningDate)}</td>
														<td style="text-align: center;">
														  #foreach ($deadlineDate in $obj.deadlineDates)
														     ${helper.formatBudgetDate($deadlineDate)}</br>
														  #end
														</td>
													</tr>

										#end
									</table>
								  </div>
								  <div class="modal-footer">
									<div class="span9 budgetdisclaimer">The indicative budget figures for <b>2017</b> are accessible in the <i><a href="http://ec.europa.eu/research/participants/portal/desktop/en/funding/reference_docs.html#h2020-work-programmes-2016-17" style="text-decoration: none;">Horizon 2020 work programme 2016-2017</a></i> documents.</div>
									<a class="btn btn-grey btn-small" data-dismiss="modal" aria-hidden="true">Close</a>
								  </div>
								</div>
								<!-- End Budget Overview Table  -->


                       <div class="span9">
	                       <div class="well well-padding5" style="font-size:1.1em; min-height: 40px; padding-left: 5px; overflow:auto;">

										 <div class="span8" style="padding-top: 5px;">
										       #if ($call.frameworkProgrammeCode == "H2020")
										           <div class="h2020_globe_mini span2"></div>&nbsp;
										           Horizon 2020
										           #if ($!call.wp_website)
													   <a href="$call.wp_website" target="_blank" style="float: right;">H2020 website</a>
									        	   #end

										           <div style="padding-left:70px; margin-top: 3px">  Pillar: $call.specificProgrammeName</div>

												   #if ($!call.wp_year)
									          	  		<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
									          	   #end

												   #if ($!call.wp_title)
										          	 	<div style="padding-left:70px; margin-top: 2px">
										          	 		Work Programme Part: $call.wp_title
										          	 		#if ($!call.wp_document)
										          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
										          	 		#end
										          	 	</div>
												  #end

										           <div style="padding-left:100px; margin-top: 3px">  Call :   <a href="../../${call.frameworkProgrammeCode.toLowerCase()}/calls/${call.identifier.toLowerCase()}.html">${call.Identifier}</a></div>
										       #end

										       #if ($call.frameworkProgrammeCode == "COSME")
										            <div class="cosme_mini span2"></div>&nbsp;
										            COSME
										             #if ($!call.wp_website)
													   <a href="$call.wp_website" target="_blank" style="float: right;">Cosme website</a>
									        	     #end
										           <div style="padding-left:70px; margin-top: 3px">  Pillar: $call.specificProgrammeName</div>

										            #if ($!call.wp_year)
									          	  		<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
									          	   #end

												   #if ($!call.wp_title)
										          	 	<div style="padding-left:70px; margin-top: 2px">
										          	 		Work Programme Part: $call.wp_title
										          	 		#if ($!call.wp_document)
										          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
										          	 		#end
										          	 	</div>
												  #end

										           <div style="padding-left:100px; margin-top: 3px">  Call :   <a href="../../${call.frameworkProgrammeCode.toLowerCase()}/calls/${call.identifier.toLowerCase()}.html">${call.Identifier}</a></div>
										       #end

										       #if ($call.frameworkProgrammeCode == "3HP")
										            <div class="third_hp_mini span2"></div>&nbsp;
										           3rd Health Programme
										            #if ($!call.wp_website)
													   <a href="$call.wp_website" target="_blank" style="float: right;">3HP website</a>
									        	    #end

									        	     #if ($!call.wp_year)
									          	  		<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
									          	   #end

												   #if ($!call.wp_title)
										          	 	<div style="padding-left:70px; margin-top: 2px">
										          	 		Work Programme Part: $call.wp_title
										          	 		#if ($!call.wp_document)
										          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
										          	 		#end
										          	 	</div>
												  #end

										           <div style="padding-left:70px; margin-top: 3px">  Call :   <a href="../../${call.frameworkProgrammeCode.toLowerCase()}/calls/${call.identifier.toLowerCase()}.html">${call.Identifier}</a></div>
										       #end

										       #if ($call.frameworkProgrammeCode == "CP")
										            <div class="cp_mini span2"></div>&nbsp;
										           Consumer Programme
										            #if ($!call.wp_website)
													   <a href="$call.wp_website" target="_blank" style="float: right;">CP website</a>
									        	    #end

										           <div style="padding-left:70px; margin-top: 3px">  Pillar: $call.specificProgrammeName</div>

										            #if ($!call.wp_year)
									          	  		<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
									          	   #end

												   #if ($!call.wp_title)
										          	 	<div style="padding-left:70px; margin-top: 2px">
										          	 		Work Programme Part: $call.wp_title
										          	 		#if ($!call.wp_document)
										          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
										          	 		#end
										          	 	</div>
												  #end

										           <div style="padding-left:100px; margin-top: 3px">  Call :   <a href="../../${call.frameworkProgrammeCode.toLowerCase()}/calls/${call.identifier.toLowerCase()}.html">${call.Identifier}</a></div>
										       #end

										       #if ($call.frameworkProgrammeCode == "RFCS")
										           <div class="rfcs_mini span2"></div>&nbsp;
										           Research Fund for Coal and Steel
										           #if ($!call.wp_website)
													   <a href="$call.wp_website" target="_blank" style="float: right;">RFCS website</a>
									        	   #end

									        	   #if ($!call.wp_year)
									          	  		<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
									          	   #end

												   #if ($!call.wp_title)
										          	 	<div style="padding-left:70px; margin-top: 2px">
										          	 		Work Programme Part: $call.wp_title
										          	 		#if ($!call.wp_document)
										          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
										          	 		#end
										          	 	</div>
												  #end

										         <div style="padding-left:70px; margin-top: 3px">  Call :   <a href="../../${call.frameworkProgrammeCode.toLowerCase()}/calls/${call.identifier.toLowerCase()}.html">${call.Identifier}</a></div>
										       #end

										       #if ($call.frameworkProgrammeCode == "JUST")
										           <div class="justice_mini span2"></div>&nbsp;
										           Justice Programme
										           #if ($!call.wp_website)
													   <a href="$call.wp_website" target="_blank" style="float: right;">Justice website</a>
									        	   #end

									        	   <div style="padding-left:70px; margin-top: 3px">  Pillar: $call.specificProgrammeName</div>

									        	   #if ($!call.wp_year)
									          	  		<div style="padding-left:70px; margin-top: 2px"> Work Programme Year: $call.wp_year</div>
									          	   #end

												   #if ($!call.wp_title)
										          	 	<div style="padding-left:70px; margin-top: 2px">
										          	 		Work Programme Part: $call.wp_title
										          	 		#if ($!call.wp_document)
										          	 			(<a href="$call.wp_document" target="_blank">View document</a>)
										          	 		#end
										          	 	</div>
												  #end

										           <div style="padding-left:70px; margin-top: 3px">  Call :   <a href="../../${call.frameworkProgrammeCode.toLowerCase()}/calls/${call.identifier.toLowerCase()}.html">${call.Identifier}</a></div>
										       #end
										 </div>

							</div>
						</div>




						<div class="span9" class="tabbable"> <!-- Only required for left/right tabs -->
							<div class="tab-content">

								  #if($topic.latestInfos && $topic.latestInfos.size() != 0)
								   <div class="well-blue">
										<div class="more-less">
											<div class="more-block">
												<h5>Topic Updates</h5>
												 #foreach ($latestInfo in $topic.latestInfos)
												 <ul>
																		<div>
																				<li>
																					<strong> ${helper.formatCallTopicUpdates($latestInfo.approvalDate)}</strong>
																					${latestInfo.content}
																				</li>
																		</div>
														</ul>
												  #end
											</div>
										</div>
									</div>
									#end



									<div class="well-blue">
										<div class="more-less">
											<div class="more-block">
												<h5><strong>Topic Description</strong></h5>
												$!{topic.description}
											</div>
										</div>
									</div>


									 <div class="well-blue">
										<div class="more-less">
											<div class="more-block">
												<h5><strong>Topic conditions and documents</strong></h5>
													$!{topic.conditions}
				 								   	#if( $topic.infoPackDossiers.size() != 0 ||  $topic.additionalDossiers.size() != 0)
													<h5>Additional documents</h5>
													<!-- p>You can <strong>download</strong> the same documents as <strong>one zip file</strong> from the <a href="${helper.getZipPath($call)}" target="_blank">call page</a></p -->

													 <p>
														<a href="${helper.getZipPath($topic)}" target="_blank" class="alldocslink"><span class="ico"></span>Download all documents <br>
														<span class="small">(EN only, incl. the additional docs.)</span></a>
													</p>

													<p>
															<div data-key="InformationPackageDossier">
				                                                    <div class="datacontent">
				                                                        <ul class="downloadable">
				                                                #foreach ($dossier in $topic.infoPackDossiers)
							        										<li class="even">${dossier.title}
				                                                    #foreach($file in $dossier.translationFiles)
				                                                                <a class="lang ${file.language}" href="${helper.getDocPath($topic, $file)}" target="_blank" style="display: inline;">${file.language}</a>
				                                                    #end
				                                                            </li>
				                                                #end
				                                                        </ul>
				    												</div>
															</div>
															<div data-key="AdditionalDossier">
				                                                    <div class="datacontent">
				                                                        <ul class="downloadable">
				                                                #foreach ($dossier in $topic.additionalDossiers)
							        										<li class="even">${dossier.title}
				                                                    #foreach($file in $dossier.translationFiles)
				                                                                <a class="lang ${file.language}" href="${helper.getDocPath($topic, $file)}" target="_blank" style="display: inline;">${file.language}</a>
				                                                    #end
				                                                            </li>
				                                                #end
				                                                        </ul>
				    												</div>
															</div>
															 #end
													</p>
											</div>
										</div>
									</div>

								<h5><strong>Submission Service</strong></h5>
								<div class="datacontent">
								        #if($topic.topicStatus=="Closed")
											<p>No submission system is open for this topic.</p>
										#end
								        #if($topic.topicStatus=="Open" || $topic.topicStatus=="Forthcoming")

											 <p>$!{topic.sepTemplate}</p>

										#end


									#if($topic.links.size() > 0 && $topic.topicStatus == 'Open')

										#foreach($link in $topic.links)

											<div class="well-grey" style="margin:10px;">

												<table class="table table-condensed" style="margin-bottom:-10px;">
													<tbody>

															<tr>
																<td width="20%"><strong>Type of Action</strong></td>
																<td width="55%"><strong><span style="color:#0088cc">$!{link.criterionDescription} [$!{link.criterionCode}]<span></strong></td>
																<td width="25%"><button href="#$!{link.criterionCode}" role="button" class="btn btn-blue btn-small" data-toggle="modal">Start Submission</</button></td>
															</tr>

															<tr>
																<td ><strong>Topic</strong></td>
																<td colspan="2">${topic.title}  - ${topic.identifier}</td>
															</tr>

													</tbody>
												</table>
											</div>


											<!-- SEP_link  -->
											<div id="$!{link.criterionCode}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

											  <div class="modal-body">
												<p>Please confirm your choice of the <span style="color:red">topic</span> and <span style="color:red">type of action for the call</span>, as these cannot be changed subsequently in the submission system.</p>
												<div class="well-white">
													<p><strong>Topic: </strong><span style="color:#0088cc">${topic.title}  - ${topic.identifier}</span></p>
													<p><strong>Type of Action: </strong> <span style="color:#0088cc">$!{link.criterionDescription} [$!{link.criterionCode}]</span></p>
													<hr>
													<p><strong>Call: </strong><span style="color:#0088cc">${call.title}</span> </p>
												</div>
											  </div>
											  <div class="modal-footer">
												<a class="btn btn-grey btn-small" data-dismiss="modal" aria-hidden="true">Cancel</a>
												<a id="sep-button" data-dismiss="modal" href="#" data-url="${link.url}" class="btn btn-blue btn-small wizard700x1000" >Confirm</a>
											  </div>
											</div>
										#end
										</div>

										<div class="well-white" style="margin:10px;">

											<table width="70%" style="font-size: 1.1em;">
												<tbody>
													<tr>
														<td width="35%">Guidance on proposal submission:</td>
														<td width="35%"><a href="#" data-url="${link-funding-guide-how-to-part-step5}" class="btn btn-grey btn-small pull-centre wizard700x1000">H2020 online manual</a></td>
													</tr>

													<tr>
														<td width="35%">IT Guidance:</td>
														<td width="35%"><a href="https://webgate.ec.europa.eu/fpfis/wikis/x/6xoCAg" target="_blank" style="none"><img src="../../../../../img/how_to.png" alt="IT help" name="IT help"></a></td>
													</tr>
												</tbody>
											</table>

										</div>
									#end


								<p></p>

								<div class="well-blue">
										<div class="more-less">
											<div class="more-block">
												<h5><strong>Get support</strong></h5>
												  $!{topic.supportInfo}
											</div>
										</div>
								</div>

							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end span9 -->
			</div>
            <!-- end row -->

<script>$(function(){$("#research_link1").popover({trigger: "hover"});$("#cordis_link1").popover({trigger: "hover"});$("#olaf_link1").popover({trigger: "hover"});});</script>

\#parse("footer.vm")
