#parse("init.vm")
## -----------------------------------------------------
## - $visibility : page visibility : public | private | admin
## - $page : name of your html page
## - $menu : menu to highlight
## - $breadcrumb : last element in the breadcrumb
## - $title, $keywords, $description : html metadatas
## -----------------------------------------------------
#set($visibility = "public")
#set($page = "support/index.html")
#set($menu = "support")
#set($breadcrumb = "support")
#set($title= $text.support.index.meta.title)
## -----------------------------------------------------
#parse("header.vm")
<div class="row">

	<div class="span3"></div>
	
	<div class="span9">
		<div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
		</div>
			
		<div class="ec-heading-box">
		
			<div class="row">
			
				<div class="span3"></div>
						
			</div>
				
		</div>
	
	</div>
	
</div>
#parse("footer.vm")