#parse("init.vm")
## -----------------------------------------------------
## - $visibility : page visibility : public | private | admin
## - $page : name of your html page
## - $menu : menu to highlight
## - $breadcrumb : last element in the breadcrumb
## - $title, $keywords, $description : html metadatas
## -----------------------------------------------------
#set($visibility = "private")
#set($page = "experts/appointments.html")
#set($menu = "myarea")
#set($breadcrumb = "Expert Area")
#set($title= $text.experts.appointments.meta.title)
## -----------------------------------------------------
#parse("header.vm")
<div class="row">

	<div class="secure span3 span3-top">#parse("experts_news.vm")</div>
	<div class="anonymous span3">#parse("experts_news.vm")</div>

	<div class="span9">

		<div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
		</div>


			<h4>
			    Welcome to the Expert area in the Participant Portal.
			    <a href="#" data-url="${link-it-how-to-my-expert-area}" class="pull-right wizard700x1000" style="margin-top:-10px"><img src="$root/img/how_to.png"></a>
			    <a href="#" data-url="${link-funding-guide-my-expert-area}" class="btn btn-grey btn-small pull-right wizard700x1000">H2020 online manual</a>
			</h4>
			<p>New employer or qualification to add? Change in contact details?</p>
			<p>It is important to keep your profile up-to-date!</p>


		<div class="tabbable">
				<ul class="nav nav-tabs">
					<li><a href="$langpath/experts/my_expert.html">Profile</a></li>
					<li class="active"><a href="$langpath/experts/appointments.html" data-toggle="tab">Contracts</a></li>
					<li><a href="$langpath/experts/task.html">Tasks</a></li>
				</ul>
				<div class="tab-content"><div class="tab-pane active" id="mytab"><div class="secure dynamic" id="expert/appointments/list.html"></div></div></div>
		</div>

	</div>

</div>
#parse("footer.vm")