<div class="well-sidemenu" style="border: none;">
    <label>
        <input type="checkbox" checked class="select-all" checkbox-group="programmeList">
        Select All
    </label>
    <ul class="filters-container">

        #foreach($taxonomy in $taxonomyList)
            <li class="filter toggle left-menu-filter navbar-inner taxType${taxonomy.machineNameSafe}" data-filter="toggle" data-type="string" data-compare="${taxonomy.name}" data-field="programmeList" data-bookmark="true" data-value="on">
                <label>
                    <input type="checkbox" checked>
                    ${taxonomy.name}
                </label>
            </li>
        #end

    </ul>
</div>