




	

		<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-condensed ec-datatable" id="LatestInfoList">
			<caption>Actions:
				<span class="btn btn-success btn-small pp-action pp-action-disabled disabled">V</span> View
				<span class="btn btn-info btn-small pp-action pp-action-disabled disabled">E</span> Edit
				<span class="btn btn-warning btn-small pp-action pp-action-disabled disabled">D</span> Delete
			</caption>
			<thead>
				<tr>
					<th>Programme</th>
					<th>Call</th>
					<th>Funding Scheme</th>
					<th>Proposal ID</th>
					<th>Acronym</th>
					<th>Status</th>
					<th>Time remaining</th>
					<th style="padding:0">Actions</th>
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>FP7</td>
						<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/opportunities/fp7/fp7-ict-2011-9.html">FP7-ICT-2011-9</a></td>
						<td>CSA-SA</td>
						<td></td>
						<td>test403</td>
						<td></td>
						<td>
							
							<span title="97 days left until closure" style="-moz-border-radius: 5px;border-radius: 5px;padding:1px 5px 1px 5px;background-color:#669900;color:#FFFFFF">0</span>
						</td>

						<td style="font-style:10px">
							
								
								
									<a title="Edit draft" href="#" class="btn btn-info btn-small pp-action wizard800x1200"
										data-url="https://www.acceptance.ec.europa.eu/research/participants/submission/eforms/secure/editform?draftid=SEP-200017179">E</a>
									
										
										
											<a title="Delete" href="#" class="btn btn-warning btn-small pp-action wizard800x1200"
												data-url="https://www.acceptance.ec.europa.eu/research/participants/submission/eforms/secure/editform?draftid=SEP-200017179">D</a>
										
									
								
							
						</td>
					</tr>
				
					<tr>
						<td>FP7</td>
						<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/opportunities/fp7/fp7-ict-2013-11.html">FP7-ICT-2013-11</a></td>
						<td>CP-FP-INFSO</td>
						<td></td>
						<td>test3.5</td>
						<td></td>
						<td>
							
							<span title="97 days left until closure" style="-moz-border-radius: 5px;border-radius: 5px;padding:1px 5px 1px 5px;background-color:#669900;color:#FFFFFF">0</span>
						</td>

						<td style="font-style:10px">
							
								
								
									<a title="Edit draft" href="#" class="btn btn-info btn-small pp-action wizard800x1200"
										data-url="https://www.acceptance.ec.europa.eu/research/participants/submission/eforms/secure/editform?draftid=SEP-200025836">E</a>
									
										
										
											<a title="Delete" href="#" class="btn btn-warning btn-small pp-action wizard800x1200"
												data-url="https://www.acceptance.ec.europa.eu/research/participants/submission/eforms/secure/editform?draftid=SEP-200025836">D</a>
										
									
								
							
						</td>
					</tr>
				
			</tbody>
		</table>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />





	
	
