
		<table cellpadding="0" cellspacing="0" border="0"
			class="display table table-striped table-condensed ec-datatable"
			id="LatestInfoList">
			<thead>
				<tr>
					<th>Name</th>
					<th>PIC</th>
					<th>VAT</th>
					<th>Roles</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999991722&lang=en&context=research">AGENCIA ESTATAL CONSEJO SUPERIOR DE INVESTIGACIONES CIENTIFICAS</a>

								
							</td>
						<td>999991722</td>
						<td>ESQ2818002D</td>
						<td>
								Participant Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999991722&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999991722&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999990946&lang=en&context=research">KUNGLIGA TEKNISKA HOEGSKOLAN</a>

								
							</td>
						<td>999990946</td>
						<td>SE202100305401</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999990946&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999990946&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>ECO CARE ASSOCIATION</span>
								
								
							</td>
						<td>950461194</td>
						<td></td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950461194&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950461194&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950461194&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950461194&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950461194"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999958645&lang=en&context=research">HITACHI EUROPE LIMITED</a>

								
							</td>
						<td>999958645</td>
						<td>GB603921464</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999958645&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999958645&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>e-hoch-x Beratungsgesellschaft mbH, Regionale Kompetenz für Wachstum</span>
								
								
							</td>
						<td>950542480</td>
						<td>DE279053830</td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950542480&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950542480&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950542480&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950542480&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950542480"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999976881&lang=en&context=research">THE UNIVERSITY OF SHEFFIELD</a>

								
							</td>
						<td>999976881</td>
						<td>GB648238808</td>
						<td>
								Financial Signatory
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999976881&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999976881&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999976881&source=RPP">VO</a>
							  



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=998607726&lang=en&context=research">Ministry of Communications and Transport of Bosnia and Herzegovina</a>

								
							</td>
						<td>998607726</td>
						<td> n/a</td>
						<td>
								Participant Contact
							
								Team Member
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=998607726&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=998607726&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999684717&lang=en&context=research">VIOTECH COMMUNICATIONS SARL</a>

								
							</td>
						<td>999684717</td>
						<td>FR30439077975</td>
						<td>
								Financial Signatory
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999684717&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999684717&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999684717&source=RPP">VO</a>
							  



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999977463&lang=en&context=research">TECHNISCHE UNIVERSITAET MUENCHEN</a>

								
							</td>
						<td>999977463</td>
						<td>DE811193231</td>
						<td>
								Account Admin.
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999977463&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999977463&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999977463&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999977463&source=RPP">MO</a>
							 



								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/proposals.html?pic=999977463"
										class="btn-action-pp color-yellow portal-link">OP</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=999977463"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/projects.html?pic=999977463"
										class="btn-action-pp color-purple portal-link">VP</a>
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=973772428&lang=en&context=research">Justizministerium des Landes Nordrhein-Westfalen </a>

								
							</td>
						<td>973772428</td>
						<td></td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=973772428&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=973772428&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999852236&lang=en&context=research">LINKOPINGS UNIVERSITET</a>

								
							</td>
						<td>999852236</td>
						<td>SE202100309601</td>
						<td>
								Account Admin.
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999852236&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999852236&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999852236&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999852236&source=RPP">MO</a>
							 



								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/proposals.html?pic=999852236"
										class="btn-action-pp color-yellow portal-link">OP</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=999852236"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/projects.html?pic=999852236"
										class="btn-action-pp color-purple portal-link">VP</a>
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=997804081&lang=en&context=research">RIELLO SPA</a>

								
							</td>
						<td>997804081</td>
						<td>IT02641790239</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=997804081&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=997804081&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>Act on Energy</span>
								
								
							</td>
						<td>950484474</td>
						<td>738686674</td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484474&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484474&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484474&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484474&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950484474"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999912376&lang=en&context=research">ALCATEL-LUCENT DEUTSCHLAND AG</a>

								
							</td>
						<td>999912376</td>
						<td>DE147799498</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999912376&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999912376&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>CHRISTOS ANTHIS & SIA O.E. CRYSTALCLEARSOFT</span>
								
								
							</td>
						<td>950484668</td>
						<td>EL998956448</td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484668&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484668&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484668&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484668&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950484668"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999934783&lang=en&context=research">CESTEC- CENTRO PER LO SVILUPPO TECNOLOGICO, L'ENERGIA E LA COMPETITIVITA DELLE PICCOLE E MEDIE IMPRESE LOMBARDE</a>

								
							</td>
						<td>999934783</td>
						<td>IT04323400152</td>
						<td>
								Financial Signatory
							
								Lear
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999934783&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999934783&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999934783&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999934783&source=RPP">MO</a>
							 



								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/proposals.html?pic=999934783"
										class="btn-action-pp color-yellow portal-link">OP</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=999934783"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/projects.html?pic=999934783"
										class="btn-action-pp color-purple portal-link">VP</a>
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=997912139&lang=en&context=research">ECORYS NEDERLAND B.V.</a>

								
							</td>
						<td>997912139</td>
						<td>NL808028741B08</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=997912139&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=997912139&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999986484&lang=en&context=research">UNIVERSITAT AUTONOMA DE BARCELONA</a>

								
							</td>
						<td>999986484</td>
						<td>ESQ0818002H</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999986484&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999986484&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=994169976&lang=en&context=research">Istituto Centrale per il Catalogo Unico delle biblioteche italiane e per le informazioni bibliografiche </a>

								
							</td>
						<td>994169976</td>
						<td>IT00916801004</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=994169976&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=994169976&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>Slovenija projekt d.o.o.</span>
								
								
							</td>
						<td>950484377</td>
						<td>SI96867825</td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484377&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484377&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484377&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484377&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950484377"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999809265&lang=en&context=research">ASTRIUM SAS</a>

								
							</td>
						<td>999809265</td>
						<td>FR63393341516</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999809265&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999809265&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>CONFEDERAZIONE ITALIANA AGRICOLTORI TOSCANA</span>
								
								
							</td>
						<td>950484571</td>
						<td>NOT APPLICABLE</td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484571&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484571&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950484571&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950484571&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950484571"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999895789&lang=en&context=research">UNIVERSITA DEGLI STUDI DI FIRENZE</a>

								
							</td>
						<td>999895789</td>
						<td>IT01279680480</td>
						<td>
								Participant Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999895789&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999895789&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999645238&lang=en&context=research">VLAAMSE INSTELLING VOOR TECHNOLOGISCH ONDERZOEK N.V.</a>

								
							</td>
						<td>999645238</td>
						<td>BE0244195916</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999645238&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999645238&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999959130&lang=en&context=research">INDRA SISTEMAS S.A.</a>

								
							</td>
						<td>999959130</td>
						<td>ESA28599033</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999959130&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999959130&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=998224770&lang=en&context=research">Asociación para la Investigación y Desarrollo Industrial de los Recursos Naturales</a>

								
							</td>
						<td>998224770</td>
						<td>ESG28518413</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=998224770&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=998224770&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999520302&lang=en&context=research">STICHTING DELTARES</a>

								
							</td>
						<td>999520302</td>
						<td>NL800097476B01</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999520302&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999520302&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999587717&lang=en&context=research">GEODEETTINEN LAITOS</a>

								
							</td>
						<td>999587717</td>
						<td>FI11105828</td>
						<td>
								Coordinator Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999587717&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999587717&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
									<span>Jens Krämer</span>
								
								
							</td>
						<td>950485929</td>
						<td></td>
						<td>
								Self Registrant
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950485929&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950485929&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=950485929&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=950485929&source=RPP">MO</a>
							 



								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=950485929"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999858541&lang=en&context=research">UNIVERSITE DE RENNES I</a>

								
							</td>
						<td>999858541</td>
						<td>FR70193509361</td>
						<td>
								Lear
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999858541&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999858541&locale=en&source=RPP">Edit</a>
				 --> 
								<a class="wizard800x1200 btn-action-pp color-orange" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999858541&source=RPP">VO</a>
							 
								<a class="wizard800x1200 btn-action-pp color-red" href="#"
									data-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999858541&source=RPP">MO</a>
							 



								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/proposals.html?pic=999858541"
										class="btn-action-pp color-yellow portal-link">OP</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/roles.html?pic=999858541"
										class="btn-action-pp color-blue portal-link">OR</a>
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/projects.html?pic=999858541"
										class="btn-action-pp color-purple portal-link">VP</a>
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=996573345&lang=en&context=research">Volvo Powertrain Corporation</a>

								
							</td>
						<td>996573345</td>
						<td>SE556000075301</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=996573345&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=996573345&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999799565&lang=en&context=research">ANONYMI ETAIREIA VIOMICHANIKIS EREVNAS KAI TECHNOLOGIKIS ANAPTYXIS TIS VIOMICHANIAS TROFIMON - FOOD INDUSTRIAL RESEARCH AND TECHNOLOGICAL DEVELOPMENT COMPANY SA</a>

								
							</td>
						<td>999799565</td>
						<td>EL094286520</td>
						<td>
								Participant Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999799565&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999799565&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=999990655&lang=en&context=research">DANMARKS TEKNISKE UNIVERSITET</a>

								
							</td>
						<td>999990655</td>
						<td>DK30060946</td>
						<td>
								Participant Contact
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=999990655&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=999990655&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
					
					<tr>
						<td> 
								
								
									<a
										href="https://portalint.net1.cec.eu.int/research/participants/portal/desktop/en/organisations/details.html?pic=997972764&lang=en&context=research">Via donau – Österreichische Wasserstraßen-Gesellschaft mbH</a>

								
							</td>
						<td>997972764</td>
						<td>ATU61299106</td>
						<td>
								Coordinator
							</td>
						<td>
							<!--
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/view.do?pic=997972764&locale=en&source=RPP">View</a>
				<a class="popup-button" href="#" details-url="https://www.acceptance.ec.europa.eu/research/participants/urf/secure/update.do?pic=997972764&locale=en&source=RPP">Edit</a>
				 -->   



								
								
								


							
						</td>
					</tr>
				
			</tbody>
		</table>
	
	

