<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-condensed ec-datatable" id="LatestInfoList">
	<thead>
		<tr>
			<th>Legal Name</th>
			<th>PIC</th>
			<th>VAT</th>
		</tr>
	</thead>
	<tbody>
	
		<tr><td>IBM Deutschland Global Business Solutions GmbH</td><td>949886275</td><td>DE259260905</td></tr>
	
		<tr><td>GIORGI ELIAVA BACTERIOPHAGY MICROBIOLOGY AND VIROLOGY SCIENTIFIC RESEARCH INSTITUTE</td><td>949906936</td><td>GE205300057</td></tr>
	
		<tr><td>International Biocontrol Manufacturers Association</td><td>951084322</td><td>Not Applicable</td></tr>
	
		<tr><td>IBM Thomas J. Watson Research Center</td><td>951848682</td><td></td></tr>
	
		<tr><td>The Gibraltar Museum</td><td>952862623</td><td>not applicable</td></tr>
	
		<tr><td>IBM GLOBAL SERVICES ESPANA SA</td><td>953135193</td><td>ESA80599459</td></tr>
	
		<tr><td>INTERNATIONAL BUSINESS MACHINES SA</td><td>953135678</td><td>ESA28010791</td></tr>
	
		<tr><td>IBM DEUTSCHLAND ENTERPRISE APPLICATION SOLUTIONS GMBH</td><td>953210659</td><td>DE259260892</td></tr>
	
		<tr><td>IBM DEUTSCHLAND MANAGEMENT &amp; BUSINESS SUPPORT GMBH</td><td>953262263</td><td>DE259446663</td></tr>
	
		<tr><td>IBM Polska Sp. z o .o. </td><td>953292333</td><td>PL5260300724</td></tr>
	
		<tr><td>IBM ROMANIA SRL</td><td>953675289</td><td>RO378660</td></tr>
	
		<tr><td>BUREAU INTERNATIONAL DU BETON MANUFACTURE</td><td>953676744</td><td>BE0422137070</td></tr>
	
		<tr><td>Institut za biologiju mora</td><td>956252482</td><td>30/31-03951-6</td></tr>
	
		<tr><td>Laboratory for functional and metabolic imaging</td><td>959150454</td><td>not applicable</td></tr>
	
		<tr><td>Institute of Biochemistry and Molecular Biology (University of Bonn)</td><td>961790406</td><td>Not applicable</td></tr>
	
		<tr><td>IBM DANMARK APS</td><td>964494475</td><td>DK65305216  </td></tr>
	
		<tr><td>IBM (CHINA) INVESTMENT CO LTD</td><td>965208492</td><td>CN1101056259107</td></tr>
	
		<tr><td>VAIBMU OY</td><td>967228420</td><td>FI22842671</td></tr>
	
		<tr><td>IBM T.J. Watson Research Center</td><td>968426176</td><td>N/A</td></tr>
	
		<tr><td>IBM CESKA REPUBLIKA SPOL.S.R.O.</td><td>968643359</td><td>CZ00114890992</td></tr>
	
		<tr><td>IBM OSTERREICH INTERNATIONALE BUROMASCHINEN GESELLSCHAFT MBH</td><td>968656066</td><td>ATU36829900 </td></tr>
	
		<tr><td>Research Institute of Biomolecule Metrology</td><td>972970432</td><td>not applicable</td></tr>
	
		<tr><td>JAVNA USTANOVA UNIVERZITET CRNE GORE PODGORICA</td><td>999836328</td><td>ME3031039516</td></tr>
	
		<tr><td>IBM DEUTSCHLAND RESEARCH &amp; DEVELOPMENT GMBH</td><td>973484241</td><td>DE811244479</td></tr>
	
		<tr><td>JAVNA USTANOVA UNIVERZITET CRNE GORE PODGORICA</td><td>999836328</td><td>ME3031039516</td></tr>
	
		<tr><td>GIORGI ELIAVA BACTERIOPHAGY MICROBIOLOGY AND VIROLOGY SCIENTIFIC RESEARCH INSTITUTE</td><td>974028314</td><td>GE211347274</td></tr>
	
		<tr><td>IBM UNITED KINGDOM LTD</td><td>975524442</td><td>GB107328000</td></tr>
	
		<tr><td>IBM DEUTSCHLAND GMBH</td><td>983036122</td><td>DE811244500</td></tr>
	
		<tr><td>IBM SVENSKA AB</td><td>985226479</td><td>SE556026688301  </td></tr>
	
		<tr><td>ingenieurbuero meirich gmbh</td><td>986093950</td><td>DE814390188</td></tr>
	
		<tr><td>IBMV MARITIME INNOVATIONSCHESELLSCHAFT MBH</td><td>986356044</td><td>DE159741926 </td></tr>
	
		<tr><td>IBM NEDERLAND BV</td><td>987492011</td><td>NL001475253B01</td></tr>
	
		<tr><td>Institute of Biomedical Chemistry of Russian Academy of Medical Sciences</td><td>988896086</td><td>7704084419</td></tr>
	
		<tr><td>RUSSIAN FEDERATION STATE SCIENTIFIC CENTER - INSTITUTE OF BIOMEDICAL PROBLEMS OF THE RUSSIAN ACADEMY OF SCIENCES - SSC RF IBMP RAS</td><td>989556074</td><td>RU7714038980</td></tr>
	
		<tr><td>INSTYTUT BIOLOGII MEDYCZNEJ POLSKIEJ AKADEMII NAUK </td><td>990877796</td><td>PL9820352085 </td></tr>
	
		<tr><td>IBM ITALIA SPA*</td><td>991479196</td><td>IT10914660153 </td></tr>
	
		<tr><td>IBM India Private Limited  </td><td>996465190</td><td>IN29980271267 </td></tr>
	
		<tr><td>Instytut Budownictwa, Mechanizacji i Elektryfikacji Rolnictwa </td><td>996822247</td><td>PL5250008034</td></tr>
	
		<tr><td>CONSORZIO PER IL CENTRO INTERUNIVERSITARIO DI BIOLOGIA MARINA ED ECOLOGIA APPLICATA G. BACCI </td><td>997535003</td><td>IT00398960492</td></tr>
	
		<tr><td>COMPAGNIE IBM FRANCE SA</td><td>997768385</td><td>FR91552118465</td></tr>
	
		<tr><td>INSTITUTO DE BIOLOGIA MOLECULAR E CELULAR - IBMC</td><td>999451238</td><td>PT503828360</td></tr>
	
		<tr><td>INSTITUTE OF BIOMEDICAL CHEMISTRY - RUSSIAN ACADEMY OF SCIENCES</td><td>998815306</td><td>N/A</td></tr>
	
		<tr><td>IBM EUROCOORDINATION SAS</td><td>998944607</td><td>FR09304538192</td></tr>
	
		<tr><td>IBM RESEARCH GMBH</td><td>999909854</td><td>CH581951</td></tr>
	
		<tr><td>INSTITUTO DE BIOLOGIA MOLECULAR E CELULAR - IBMC</td><td>999451238</td><td>PT503828360</td></tr>
	
		<tr><td>IBM DANMARK A/S</td><td>999786276</td><td>DK65305216</td></tr>
	
		<tr><td>IBM IRELAND PRODUCT DISTRIBUTION LIMITED</td><td>999786761</td><td>IE4693255O</td></tr>
	
		<tr><td>IBM ISRAEL - SCIENCE  AND TECHNOLOGY LTD</td><td>999787343</td><td>IL95432408</td></tr>
	
		<tr><td>IBM WORLD TRADE CORPORATION JOINT STOCK COMPANY</td><td>999787731</td><td>EG100363776</td></tr>
	
		<tr><td>IBM RESEARCH GMBH</td><td>999909854</td><td>CH581951</td></tr>
	
		<tr><td>INTERNATIONAL BUSINESS MACHINES BELGIUM SA</td><td>999969800</td><td>BE 405.912.336</td></tr>
	
	</tbody>
</table>