#parse("init.vm")
## -----------------------------------------------------
## - $visibility : page visibility : public | private | admin
## - $page : name of your html page
## - $menu : menu to highlight
## - $breadcrumb : last element in the breadcrumb
## - $title, $keywords, $description : html metadatas
## -----------------------------------------------------
#set($visibility = "private")
#set($page = "organisations/proposals.html")
#set($menu = "myarea")
#set($breadcrumb = "Organisation File")
#set($title= $text.organisations.proposals.meta.title)
## -----------------------------------------------------
#parse("header.vm")
<div class="row">

	<div class="span3"></div>
	
	<div class="span9">
		<div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
		</div>
	
		<div class="row">
			<h4>Organisation File</h4>
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li><a data-param="pic,c" href="$langpath/organisations/details.html">Details</a></li>
					<li><a data-param="pic,c" href="$langpath/organisations/roles.html">Roles</a></li>
					<li><a data-param="pic,c" href="$langpath/organisations/projects.html">Projects</a></li>
					<li class="active"><a data-param="pic,c" href="$langpath/organisations/proposals.html" data-toggle="tab">Proposals</a></li>
				</ul>
				<div class="tab-content"><div class="tab-pane active" id="mytab"><div class="secure dynamic" id="organisation/proposals.html"></div></div></div>
			</div>
		</div>
		
		<div class="row"></div>
		
	</div>
	
</div>
#parse("footer.vm")