<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CARDS COMPONENT</title>
</head>


<!-- Le styles -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">    
<link href="../../dist/css/bootstrap-extension.css" rel="stylesheet" type="text/css">
<link href="../../dist/css/bootstrap-portal.css" rel="stylesheet" type="text/css">
    
<body>
<div class="row">
	
	<div class="span3" id="sidebar">
	
		
	</div>
	
	<div class="span9">
			
		<div role="main" id="main-wrapper">
		
			<h6>H2020 Call Updates</h6>
		
				<div role="main" id="main-wrapper">
		 
					<section class="content">

						<div id="listing-page">
						
							<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-condensed ec-datatable" id="LatesInfoList" data-source="../../dist/data/h2020.json" data-loop="callData.Calls">
		                             <thead>
		                              <tr>
		                              <th width="25%" data-field="SpecificProgramme">Programme</th>
		                              <th width="25%" data-field="CallIdentifier.CallId">Call Identifier</th>
		                              <th width="38%" class="default-sort-asc" data-field="FrameworkProgramme">Latest Information</th>
		                              <th width="12%" data-field="PublicationDate:getDateString:dd/MM/yyyy">Date</th>
		                              </tr>
		                             </thead>
		                             <tbody>
		                              <tr>
		                               <td>.....</td>
		                               <td>.....</td>
		                               <td>.....</td>
		                               <td class="center">.....</td>
		                              </tr>
		                             </tbody>
							</table>

						</div>

					</section>

				</div>



		</div>
		
	</div>
	
</div>	
<script src="../../dist/js/jquery/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/bootstrap-extension.js"></script>
<script type="text/javascript">
$(document).ready( function(e){
	FEF.components.initiateTables();
});
</script>


<script type="text/template" id="tpl-topic-item">
					<div class="well-white">
						<table>
							<tr>
								<td>
									<table>
										<tr>
											<td style="width:5%"><strong>Topic:&nbsp;&nbsp;</strong></td>
											<td><strong><a href="topics/water1.html"><%= title %></a></strong></td>
										</tr>
										<tr>
											<td style="width:5%"></td>
											<td><%= description %>
											</td>
										</tr>
										<tr>
											<td colspan="2" class="text-right"><a href="#">More</a></td>
										</tr>
										<tr>
											<td colspan="2"><hr></td>
										</tr>
									</table>
									<table style="width:100%;">
										<tr>
											<td style="width:20%;"><strong>Call title:</strong></td>
											<td style="width:50%;"><a href="topics/84679-retest1.html"><%= callTitle %></a></td>
											<td style="width:10%;"><strong>Status:</strong></td>
											<td style="width:10%;"><span class="label label-success"><%= callStatus %></span></td>
										</tr>
										<tr>
											<td style="width:20%;"><strong>Call identifier:</strong></td>
											<td style="width:50%;"><a href="84679-retest1.html"><%= identifier %></a></td>
											<td style="width:10%;"><strong>Deadline:</strong></td>
											<td style="width:10%;"><%= callDeadline %></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
</script>
					
					
<style type="text/css">
	.topic-description {
	font-size: 1em;
	line-height: 1.2em;
	margin: 3px 3px 6px 8px;
	padding: 0px 0px 0px 0px;
}
</style>
	</html>