<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CARDS COMPONENT</title>
</head>


<!-- Le styles -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">    
<link href="../../dist/css/bootstrap-extension.css" rel="stylesheet" type="text/css">
<link href="../../dist/css/bootstrap-portal.css" rel="stylesheet" type="text/css">
    
<body>

	<div class="ec-cards-container">
    	<div class="ec-cards-filters" data-filters-for="ncp" id="ncp-cards">
   			<ul class="filters-container">
                		<li class="filters-label">Free Search</li>
                        <li class="filter search" id="ncp-search" data-field="[person.title,person.last_name,contact_details.country]" data-filter="search" data-submit-label="Search" data-placeholder="Find a contact"></li>
                	</ul>
             <div class="row-fluid">
            	<div class="span4">
                	<ul class="filters-container">
                    	<li class="filters-label">Type</li>
                    	<li class="filter toggle" data-value="off" data-filter="toggle" data-type="string" data-compare="true" data-field="-isNcp">
                               <div class="lbl">NCP</div><input type="checkbox" class="icheckbox">
                        </li>
                        <li class="filter toggle" data-value="off" data-filter="toggle" data-type="string" data-compare="Belgium" data-field="contact_details.country">
                        	<div class="lbl">Belgium NCP</div><input type="checkbox" class="icheckbox">
                        </li>
                    </ul>      
                </div>
                <div class="span4">
                	
                    <ul class="filters-container group sort">
                    	<li class="filters-label">Sort by</li>
                        <div class="row-fluid">
                            <li class="filter button span6 btn btn-small normal" data-value="on" data-filter="button" data-type="string" data-sort="desc" data-field="person.first_name">Last Name</li>
                            <li class="filter button span6 btn btn-small normal" data-value="on" data-filter="button" data-type="string" data-sort="desc" data-field="person.last_name">First Name</li>
                        </div>
                         <div class="row-fluid">
                        <li class="filter button span12 btn btn-small normal active default" data-value="on" data-filter="button" data-type="string" data-sort="desc" data-field="contact_details.country">Country (default)</li>
                        </div>
                    </ul>
                    
                </div>
                <div class="span4">
                	<li class="filter date span12" data-field="update_date" data-from-label="From:" data-to-label="To:" data-submit-label="Filter" data-start-date="12/07/2013" data-end-date="15/07/2013" data-date-format="dd/mm/yyyy" id="date-filter"></li></div>
                </div>
                </div>
    	</div>
        <ul class="ec-cards by1 max-height" data-source="../../dist/data/ncp.json" data-loop="contact_point.contact" id="ncp" data-template="tpl-ncp-item" style="margin-left: 0px; padding-right: 20px;">
          
        </ul>
	</div>
   
	
	<!-- /end calls wrapper -->
	
    <!-- -->
    

</body>
			   <script type="text/template" id="tpl-ncp-item">
				<li class="ec-cards-wrapper">
             		<div class="ec-cards-content">
                        <div class="ec-cards-colorbar"></div>
						   <span class="ec-cards-title"><%= person.title + " " + person.last_name + " " + person.first_name %></span>
						   <span class="ec-cards-subtitle"><%= contact_details.country + " - " + function_details.network %></span>
						   <p class="ec-cards-description">
						   		<div class="row-fluid"> 
									<div class="span6"><%=
										  contact_details.org_name + "<br />" + contact_details.address + "<br />" + contact_details.postcode + " "+ contact_details.city + "<br />" + contact_details.country
										  %>
									</div>
									<div class="span6">
											<span>Programm : <%= function_details.programme %></span><br>
											<span>Subject Index : <br> <%= function_details.subject_index %> </span>
									</div>
								</div>
						   </p>
						   <span class="ec-cards-date"></span>
                    </div>
				</li>
				</script>

<script src="../../dist/js/jquery/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../dist/js/bootstrap-extension.js"></script>
</html>
