#parse("init.vm")
## -----------------------------------------------------
## - $visibility : page visibility : public | private | admin
## - $page : name of your html page
## - $menu : menu to highlight
## - $breadcrumb : last element in the breadcrumb
## - $title, $keywords, $description : html metadatas
## -----------------------------------------------------
#set($visibility = "private")
#set($page = "proposals/proposalConsortium.html")
#set($menu = "myarea")
#set($breadcrumb = "Proposal Consortium")
#set($title= $text.proposals.consortium.meta.title)
## -----------------------------------------------------
#parse("header.vm")
<div class="row">

	<div class="span3"></div>

	<div class="span9">
		<div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
		</div>

		<div class="row">

			<h4>Proposal File</h4><hr>

			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a data-param="c,pid,programId,target" href="$langpath/proposals/proposalConsortium.html" data-toggle="tab">Consortium</a></li>
				</ul>
				<div class="tab-content"><div class="tab-pane active" id="mytab"><div class="secure dynamic" id="role/consortium.html?c=res"></div></div></div>
			</div>

		</div>

		<div class="row"></div>

	</div>

</div>
#parse("footer.vm")