#parse("init.vm")
#set($visibility = "public")
#set($page = "opportunities/rfcs/index.html")
#set($menu = "opportunities")
#set($breadcrumb = "Calls")
#set($title= $text.opportunities.fp7.meta.title)
#set ($calls = "true")
#parse("header.vm")

<style type="text/css">
input[type="checkbox"], input[type="radio"] {
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.ec-cards-filters .filter.search input {width: 140px;padding-top:-4px;margin-bottom:0px;}
.row-fluid  {width: 103%;}
</style>

<div class="row">

	<div class="span3" id="sidebar">
		#parse("opp_menu.vm")
	</div>

	<div class="span9">

		<div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/all.html" data-options=""></div>
			<div class="fragment" data-url="${root}/../data/fragments/desktop/en/$page" data-options=""></div>
		</div>

		<header class="clearfix">
			<h1>Calls for Proposals</h1>
		</header>

		<div class="ec-heading-box">

            <div class="row-fluid">
			   <div class="well well-padding5 span12">
			        <div class="span12">
	                      <div class="span8" style="padding-top: 10px; font-size:14px">Research Fund for Coal and Steel</div>
	                      <div class="span4" style="padding-top: 14px; padding-left: 50px;">
	                            <a href="../h2020/search/search_topics.html"><strong>Advanced search for topics</a>
	                            <a href="http://ted.europa.eu/TED/main/HomePage.do" target="_blank"><strong>Calls for tenders on TED</a>
	                      </div>

	            	</div>
	            	<div class="span12">
						<div class="span3"><div class="rfcs_image"></div></div>
						<div class="span9" style="font-weight: Normal;margin-left: 0.1px;">
							<p>The Research Fund for Coal and Steel (RFCS) provides funding for high quality research projects which support the competitiveness of the European Coal and Steel industries. The programme covers core production processes; new products and applications, quality control, utilisation and conversion of resources, safety at work, environmental protection by reduction of emissions from coal use and steel production, and social issues.</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- start filters (cf: filters.view.js) -->
       <div role="main" id="main-wrapper">
                <div class="ec-cards-filters" data-filters-for="calls" id="calls-filters" data-bookmark="true">
						<div class="row-fluid">

							<div class="well well-padding5 span13" style="margin-left: 0px;">
								<div class="span13">
								    <div class="span1" style="padding-top: 4px;">
									        <strong>Status</strong>
								    </div>
									<ul class="filters-container"  data-filters-for="calls">
									    <li class="filter toggle span4" data-value="on" data-filter="toggle" data-type="boolean" data-compare="true" data-field="hasForthcomingTopics" data-bookmark="true" style="margin-left: 5px;">
											<div class="toggle-label" style="margin-right: 0px;">Calls with forthcoming topics</div><input type="checkbox" class="css-radiobox" checked>
										</li>
										<li class="filter toggle span4" data-value="on" data-filter="toggle" data-type="boolean" data-compare="true" data-field="hasOpenTopics" data-bookmark="true">
											<div class="toggle-label">Calls with open topics</div><input type="checkbox" class="css-radiobox" checked>
										</li>
										<li class="filter toggle span4" data-value="on" data-filter="toggle" data-type="boolean" data-compare="true" data-field="allClosedTopics" data-bookmark="true" style="margin-left: -35px;">
											<div class="toggle-label">Calls with only closed topics</div><input type="checkbox" class="css-radiobox" checked>
										</li>
									 </ul>
								</div>
						   </div>

							<div class="well well-padding5 span13" style="margin-left: 0px;">
								<div class="span13">
									<div class="filters-container group sort"  data-filters-for="calls" data-bookmark="true" style="display:"inline">
									        <div class="span1" style="padding-top: 4px;">
												<strong>Sort by</strong>
											</div>
											<div class="sort span2" data-value="on" data-filter="radio" data-type="string" data-sort="desc" data-field="Title" data-bookmark="true" style="padding-left: 10px;">
												<input type="radio" id="o3" class="css-radiobox" name="order"><label for="o3" class="radio-label">Call title</label>
											</div>

											<div class="sort span2" data-value="on" data-filter="radio" data-type="string" data-sort="desc" data-field="CallIdentifier.CallId" data-bookmark="true" style="padding-left: 0px;">
												<input type="radio" id="o4" class="css-radiobox" name="order"><label for="o4" class="radio-label">Call identifier</label>
											</div>

											<div class="sort span3" data-value="on" data-filter="radio" data-type="date" data-sort="desc" data-field="PublicationDate" data-bookmark="true" style="padding-left:10px;">
												<input type="radio" id="o2" class="css-radiobox" name="order" checked><label for="o2" class="radio-label">Publication date</label>
											</div>

											<div class="span4 controls" style="margin-left: 10px;">
												 <div class="filter search" id="calls-search" data-field="[Title,CallIdentifier.CallId]" data-filter="search" data-submit-label="Filter" data-placeholder="Filter a call" data-filters-for="calls" data-bookmark="true"></div>
											</div>
									</div>
								</div>
							</div>

						</div>
				</div>
			</div>
           <!-- end filters (cf: filters.view.js) -->


	      <!-- start calls listing (cf: calllist.collection.js) -->
			<div id="calls-listing">
				<div class="scrollable"><ul class="ec-cards" data-source="../../../../data/call/rfcs/calls.json" data-loop="callData.Calls" id="calls" data-template="tpl-call-item" data-noresult="no_results_found" data-bookmark="true"></ul></div>
				<div class="loading-loader"></div>
			</div>

			<div id="no_results_found" class="alert">
				The search did not give any results.
			</div>
		  <!-- End calls listing (cf: calllist.collection.js) -->

	        <div>
				<p>In addition to the search facilities, the full list of  Research Fund for Coal & Steel Calls can be found <a href="master_calls.html"><strong>here</strong>.</a> </p>
			</div>

	</div>
</div>

<script type="text/template" id="tpl-call-item">
		<li class="ec-cards-wrapper">

			   <a href="calls/<%= CallIdentifier.FileName.toLowerCase() %>.html" class="ec-cards-content  color-call-<%= SP_color.toLowerCase() %>">

				 <div class="ec-cards-colorbar"></div>

				<span class="ec-cards-title"><%= MainSpecificProgrammeLevel1Description %></span>
				<span class="ec-cards-subtitle"><%= (Title.length)>80 ? Title.substring(0,65)+' ...' : Title %></span>
				<p class="ec-cards-description"><%= CallIdentifier.CallId %></p>
				<span class="ec-cards-date"><b>Publication date:</b><%= PublicationDate %></span>


			  </a>

		</li>
</script>
#parse("footer.vm")
