






					<!-- To be returned by the rest service -->
						<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-condensed ec-datatable"
id="LatesInfoList">
							<caption>Actions:
								<span class="button-aa"></span> Access Amendement
								<span class="button-an"></span> Access Negotiation
								<span class="button-fr"></span> Financial Reporting
								<span class="button-rd"></span> Reporting Deliverables
								<span class="button-pr"></span> Periodic Reporting
							</caption>
							<thead>
								<tr>
									<th>Acronym</th>
									<th>Call</th>
									<th>Prog</th>
									<th>projectID</th>
									<th>Roles</th>
									<th>Phase</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=314411">eCo-FEV</a></td>
								<td></td>
								<td>FP7 </td>
								<td>314411</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//314411" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=218362">PLATINA</a></td>
								<td>FP7-SST-2007-TREN-1_05June</td>
								<td>FP7 </td>
								<td>218362</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=218952">ALONE</a></td>
								<td>FP7-ENERGY-2007-2-TREN</td>
								<td>FP7 </td>
								<td>218952</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=247010">MUSCADE</a></td>
								<td></td>
								<td>FP7 </td>
								<td>247010</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//247010" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=607460">CosmoTurb</a></td>
								<td>FP7-SPACE-2013-1</td>
								<td>FP7 </td>
								<td>607460</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									NEGOTIATION
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=214668">ITALK</a></td>
								<td></td>
								<td>FP7 </td>
								<td>214668</td>
								<td>
									
										Participant Contact
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//214668" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid="></a></td>
								<td></td>
								<td>CIP </td>
								<td>304433</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=606971">Advanced_SAR</a></td>
								<td>FP7-SPACE-2013-1</td>
								<td>FP7 </td>
								<td>606971</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									NEGOTIATION
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=247733">EARTH</a></td>
								<td></td>
								<td>FP7 </td>
								<td>247733</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//247733" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=270968">e-CODEX</a></td>
								<td></td>
								<td>FP7 </td>
								<td>270968</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//270968" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=214793">TA2</a></td>
								<td></td>
								<td>FP7 </td>
								<td>214793</td>
								<td>
									
										Participant Contact
									
										Team Member
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//214793" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=270905">Linked Heritage</a></td>
								<td></td>
								<td>FP7 </td>
								<td>270905</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//270905" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=607183">DECUMANUS</a></td>
								<td>FP7-SPACE-2013-1</td>
								<td>FP7 </td>
								<td>607183</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									NEGOTIATION
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=258644">CHRON</a></td>
								<td></td>
								<td>FP7 </td>
								<td>258644</td>
								<td>
									
										Participant Contact
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//258644" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=218694">BE LOGIC</a></td>
								<td>FP7-SST-2007-TREN-1_05June</td>
								<td>FP7 </td>
								<td>218694</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=227204">BIO CIRCLE</a></td>
								<td>FP7-KBBE-2008-2B</td>
								<td>FP7 </td>
								<td>227204</td>
								<td>
									
										Participant Contact
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
											
												<a href="http://preprod.fp6.cc.cec.eu.int:5021/FormC/ecas/loginParticipantPortalUser.action?projectId=227204&framework=FP7&dg=RTD" target="_force">
													<span class="button-fr"></span>
												</a>
											

											
										
										
										
									
										
										
											

											
												<a href="https://webgate.acceptance.ec.europa.eu/sesam-fp7/participantportal.do?project=227204&framework=FP7&dg=RTD" target="_sesam">
													<span class="button-rd"></span>
												</a>
											
										
										
										
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid="></a></td>
								<td></td>
								<td>FP7 </td>
								<td>896896896</td>
								<td>
									
										Participant Contact
									
								</td>
								<td>
									
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=607131">FAST</a></td>
								<td>FP7-SPACE-2013-1</td>
								<td>FP7 </td>
								<td>607131</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=218923">BioDME</a></td>
								<td>FP7-ENERGY-2007-2-TREN</td>
								<td>FP7 </td>
								<td>218923</td>
								<td>
									
										Coordinator
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=606865">INFORM</a></td>
								<td>FP7-SPACE-2013-1</td>
								<td>FP7 </td>
								<td>606865</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									NEGOTIATION
								</td>
								<td>
									
								</td>
							</tr>
							
							<tr>
								<td><a href="https://portalint.net1.cec.eu.int/research/participants/live/desktop/en/projects/details.html?pid=287682">TDK4PE</a></td>
								<td></td>
								<td>FP7 </td>
								<td>287682</td>
								<td>
									
										Coordinator Contact
									
								</td>
								<td>
									GRANT_MANAGEMENT
								</td>
								<td>
									
										
										
										
											<a href="https://webgate.acceptance.ec.europa.eu/nef/frontoffice/directaccess//287682" target="_blank">
												<span class="button-aa"></span>
											</a>
										
										
									
								</td>
							</tr>
							
							</tbody>
						</table>
						<br/><br/><br/><br/><br/><br/><br/>


